form.consultation-form#consultation-form(action="" method="POST" data-aos="clipRight")
    .container
        .form-title Получить консультацию
        .input-wrap
            input(type="text" name="name" placeholder="Имя*" class="default-input" autocomplete="off")
        .input-wrap
            input(type="phone" name="phone" placeholder="Telegram / Whatsapp*" class="default-input" autocomplete="off")
        button(type="submit" class="default-btn black")
            span Отправить
            img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
