.modal#errorModal(style="opacity: 0")
    .modal-content
        .close
            img(src="/images/close.svg" class="svg" alt="close")
        .modal-title Что-то пошло не так!
        .modal-desc Попробуйте позже
        button(class="default-btn black close-btn")
            span Понятно