doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    body
        include menu

        include header

        block main

        include footer
        include modal1
        include modal2
        include thanksgivingModal
        include errorModal
        include loader

        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js" integrity="sha512-HqbDsHIJoZ36Csd7NMupWFxC7e7aX2qm213sX+hirN+yEx/eUNlZrTWPs1dUQDEW4fMVkerv1PfMohR1WdFFJQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src="//cdn.jsdelivr.net/npm/jquery.marquee@1.6.0/jquery.marquee.min.js" type="text/javascript")
        script(src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js")
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")