.menu
    .menu-nav
        a(href="/" class="menu-logo")
            img(src="/images/logo_short.svg" alt="logo" class="svg")
        .menu-social-links
            a(href="https://www.facebook.com/souldigital.agency/" target="_blank")
                img.svg(src="/images/icons/facebook_v2.svg" alt="facebook")
            a(href="https://www.instagram.com/souldigital.agency/" target="_blank")
                img.svg(src="/images/icons/instagram.svg" alt="instagram")
            a(href="https://vk.com/soul_digital" target="_blank")
                img.svg(src="/images/icons/vk.svg" alt="vkontakte")
        .menu-burger
            span
            span
        button(class="menu-btn default-btn" data-modal="#consultation-modal")
            span Консультация
            img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
            img(src="/images/icons/mail.svg" alt="mail" class="svg mail")
    .menu-content
        .menu-content-container
            .menu-content-logo
                img(src="/images/logo-black.svg" alt="logo")
            .menu-content-nav1
                div(class="nav-item" data-modal="#mailing-modal") Подписаться на рассылку
                a(class="nav-item" href="tel: +7 (905) 486 52 43" target="_blank") +7 (905) 486 52 43
                a(class="nav-item" href="mailto: mail@soul-digital.com" target="_blank") mail@soul-digital.com
            .menu-content-nav2
                a(href="/cases.html").nav-item
                    span 01
                    span Кейсы
                a(href="/services.html").nav-item
                    span 02
                    span Услуги
                a(href="/artists.html").nav-item
                    span 03
                    span Артисты
                a(href="/contacts.html").nav-item
                    span 04
                    span Контакты
            .menu-content-nav3
                a(class="nav-item" href="https://vk.com/soul_digital" target="_blank")
                    span Вконтакте
                    img.svg(src="/images/icons/vk.svg")
                a(class="nav-item" href="#" target="_blank") Презентация для артиста
                a(class="nav-item" href="https://www.facebook.com/souldigital.agency/" target="_blank")
                    span Facebook
                    img.svg(src="/images/icons/facebook_v2.svg")
                a(class="nav-item" href="" target="_blank") Пример маркетинговой компании
                a(class="nav-item" href="https://www.instagram.com/souldigital.agency/" target="_blank")
                    span Instagram
                    img.svg(src="/images/icons/instagram.svg")
                a(class="nav-item" href="" target="_blank") Пример отчёта по проделанной работе
