#consultation-modal.modal(style="opacity: 0")
    .modal-content
        .close
            img(src="/images/close.svg" class="svg" alt="close")
        .modal-title Получить консультацию
        .modal-desc Оставьте свои контакты и наш менеджер свяжется с вами в самое ближайшее время!
        form#consultation-modal-form.modal-form(method="POST" action="" novalidate)
            .input-wrap
                input(type="text" name="name" placeholder="Имя*" class="default-input" autocomplete="off")
            .input-wrap
                input(type="phone" name="phone" placeholder="Telegram / Whatsapp*" class="default-input" autocomplete="off")
            .input-wrap
                input(type="email" name="email" placeholder="Почта" class="default-input" autocomplete="off")
            .input-wrap
                input(type="text" name="message" placeholder="Комментарий" class="default-input" autocomplete="off")
            button#sendmail(type="submit" class="default-btn black")
                span Отправить
                img(src="/images/btn-arrow.svg" alt="arrow" class="svg")