#mailing-modal.modal(style="opacity: 0")
    .modal-content
        .close
            img(src="/images/close.svg" class="svg" alt="close")
        .modal-title Подписаться на рассылку
        .modal-desc Оставьте свою почту и мы будем присылать вам только важные новости из музыкальной сферы и наши акции
        form#subscribe-form.modal-form(method="POST" action="" novalidate)
            .input-wrap
                input(type="email" name="email" placeholder="Почта" class="default-input" autocomplete="off")
            button#sendmail2(type="submit" class="default-btn black")
                span Отправить
                img(src="/images/btn-arrow.svg" alt="arrow" class="svg")