.modal#thanksgiving(style="opacity: 0")
    .modal-content
        .close
            img(src="/images/close.svg" class="svg" alt="close")
        .modal-title Заявка отправлена!
        .modal-desc Письмо отправлено, менеджер свяжется с вами в ближайшее время!
        button(class="default-btn black close-btn")
            span Понятно