.consultation-form {
  padding: 4.762vw 0;
  background-color: $yellow;

  @media screen and(max-width: 992px) {
    padding: 30px 0 40px;
  }

  .container {
    display: flex;
    align-items: center;

    @media screen and(max-width: 992px) {
      flex-direction: column;
    }
  }

  .form-title {
    font-size: 2.857vw;
    line-height: 3.274vw;
    letter-spacing: -0.02em;
    color: $black;
    font-family: $boldFont;
    margin-right: auto;

    @media screen and(max-width: 992px) {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 20px;
      width: 100%;
      margin-right: unset;
    }
  }

  .input-wrap {
    margin-right: 1.786vw;
    position: relative;

    @media screen and (max-width: 992px) {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  .error-hint {
    position: absolute;
    bottom: -1.190vw;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    @media screen and(max-width: 992px) {
      bottom: -13px;
      font-size: 11px;
    }
  }

  .default-input {
    padding: 0 1.429vw;

    @media screen and(max-width: 992px) {
      padding: 0 20px;
    }

    &::placeholder {
      font-size: 1.071vw;
      line-height: 1.250vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .default-btn {
    span {
      font-size: 1.071vw;
      line-height: 1.250vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .default-btn, .default-input {
    border-radius: 6.964vw;
    font-size: 1.071vw;
    line-height: 1.250vw;
    height: 3.333vw;

    @media screen and(max-width: 992px) {
      border-radius: 117px;
      height: 40px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .input-wrap, .default-btn {
    max-width: 13.095vw;
    width: 100%;
    height: 3.333vw;

    @media screen and(max-width: 992px) {
      max-width: 100%;
      height: 40px;
    }
  }
}