.page-loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 300;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  &.active {
    pointer-events: all;
    &:before {
      transform: translateX(0);
    }

    &:after {
      transform: translateX(105vw);
    }
  }

  &:before, &:after {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }

  &:before {
    background-color: $black;
    transform: translateX(-105vw);
    transition: all .8s $cubic;
  }

  &:after {
    background-color: $yellow;
    z-index: 2;
    transform: translateX(-20vw);
    transition: all 1.1s $cubic;
  }
}