.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  z-index: 100;
  animation: show 1s $cubic;
  background-color: $black;

  @media screen and(max-width: 992px) {
    flex-direction: column;
    width: 100%;
    height: unset;
    animation-name: showSm;
  }

  .menu-nav {
    padding: 56px 24px 40px;
    border-right: 1px solid rgba(255, 255, 255 , .2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: border-right-color 1s $cubic;
    -webkit-transition: border-right-color 1s $cubic;

    @media screen and(max-width: 992px) {
      flex-direction: row;
      height: auto;
      width: 100%;
      padding: 3vh 20px;
      justify-content: space-between;
      border-right: unset;
    }

    @media screen and(min-width: 993px) {
      padding: 7.9vh 3.4vh 5.6vh;
    }
  }

  .menu-social-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and(max-width: 992px) {
      display: none;
    }

    a {
      margin-bottom: 37px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    img, svg {
      width: 24px;
      height: auto;
    }

    svg {
      path {
        transition: all 1s $cubic;
        -webkit-transition: all 1s $cubic;
      }
    }
  }

  .menu-logo {
    path {
      transition: all 1s $cubic;
      -webkit-transition: all 1s $cubic;
    }

    @media screen and(max-width: 992px) {
      margin-bottom: 0;
      height: 4.8vh;
      order: 0;
    }

    @media screen and(min-width: 993px) {
      margin-bottom: 5.4vh;
      height: 7.8vh;
    }
  }

  .menu-burger {
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: auto 0;

    @media screen and(max-width: 992px) {
      transform: unset;
      order: 4;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      clip-path: inset(0 100% 0 0);
      -webkit-clip-path: inset(0 100% 0 0);
    }

    &:before {
      transform: rotate(45deg);
      transition: all .4s .6s $cubic;
      -webkit-transition: all .4s .6s $cubic;
    }

    &:after {
      transform: rotate(-45deg);
      transition: all .4s .4s $cubic;
      -webkit-transition: all .4s .4s $cubic;
    }

    &:hover {
      @media screen and(min-width: 993px) {
        span {
          transform: translateY(5px);
          &:last-child {
            transform: translateY(-5px);
          }
        }
      }
    }

    span {
      transition: all .4s $cubic;
      -webkit-transition: all .4s $cubic;
    }

    span, &:before, &:after {
      width: 24px;
      height: 2px;
      background-color: $yellow;
      border-radius: 13px;
    }

    &.backward {
      span {
        transition: width .2s 1s $cubic, transform .1s 1.2s $cubic;
        -webkit-transition: width .2s 1s $cubic, transform .1s 1.2s $cubic;
      }
    }

    &.active {
      span {
        transform: translateY(5px);
        width: 0;
        &:last-child {
          transform: translateY(-5px);
        }
      }

      &:before {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
      }

      &:after {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0);
      }
    }

    @media screen and(max-width: 992px) {
      position: static;
    }
  }

  .menu-btn {
    border: unset;
    border-radius: unset;
    border-top: 1px solid;
    position: absolute;
    bottom: 0;
    height: 204px;
    width: 100%;
    padding: 0 40px;
    border-top-color: rgba(255, 255, 255 , .2);
    transition: border-top-color 1s $cubic;

    span {
      transform: rotate(-90deg) translateY(5px) translateX(-13px);
      @media screen and(max-width: 992px) {
        display: none;
      }
    }

    img, svg {
      transform: rotate(0deg);
      top: 34px;
      position: absolute;
      width: 12px;

      &.mail {
        display: none;
        transform: unset;
        position: static;
        width: auto;
      }

      @media screen and(max-width: 992px) {
        display: none;
        &.mail {
          display: block;
          height: 16px;
        }
      }
    }

    @media screen and(max-width: 992px) {
      transform: unset;
      border: none;
      position: static;
      padding: 0;
      height: unset;
      order: 3;
      width: unset;
      margin-left: auto;
      margin-right: 40px;
    }
  }

  .menu-content-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 16.5vh;
    transition: all 1s $cubic;
    -webkit-transition: all 1s $cubic;
    transform: translateX(-40px);

    @media screen and(max-width: 992px) {
      display: flex;
      flex-direction: column;
      grid-row-gap: unset;
    }
  }

  .menu-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $yellow;
    width: 100vw;
    height: 100vh;
    transition: all 1s $cubic;
    -webkit-transition: all 1s $cubic;
    clip-path: inset(0 100% 0 0);
    -webkit-clip-path: inset(0 100% 0 0);
    visibility: hidden;
    pointer-events: none;
    padding: 1.190vw 4.762vw 3.262vw 12.500vw;

    @media screen and(max-width: 992px) {
      padding: 92px 20px 0px;
      overflow: scroll;
    }
  }

  .menu-content-logo {
    height: 7.8vh;
    position: relative;

    img {
      height: 100%;
      position: absolute;
      top: 42%;
    }
    @media screen and(max-width: 992px) {
      display: none;
    }
  }

  .menu-content-nav1 {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
    padding-top: 5vh;

    @media screen and(max-width: 992px) {
      padding-top: 0;
      flex-direction: column;
      order: 1;
      margin-bottom: 4.5vh;
    }

    .nav-item {
      margin-right: 5.8vh;
      font-size: 1.95vh;
      line-height: 2.23vh;

      &:last-child {
        margin-right: 0;
      }

      @media screen and(max-width: 992px) {
        margin-right: 0;
        margin-bottom: 2.2vh;
        font-size: 2vh;
        line-height: 2.4vh;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .menu-content-nav2 {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 9.7vh;

    @media screen and(max-width: 992px) {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-gap: 3vh;
      grid-template-rows: repeat(2, 61px);
      order: 0;
      margin-bottom: 5vh;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      span {
        &:first-child {
          font-size: 2.3vh;
          line-height: 2.6vh;
          letter-spacing: -0.02em;
          margin-bottom: 1.9vh;

          @media screen and(max-width: 992px) {
            font-size: 1.8vh;
            line-height: 2vh;
            margin-bottom: 1.5vh;
          }
        }

        &:last-child {
          font-family: $boldFont;
          font-size: 7.8vh;
          line-height: 9vh;
          letter-spacing: -0.02em;

          @media screen and(max-width: 992px) {
            font-size: 4.8vh;
            line-height: 5.5vh;
          }
        }
      }
    }
  }

  .menu-content-nav3 {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2.9vh;

    span + img, span + svg {
      display: none;
      height: 28px;
    }

    span + svg {
      path {
        fill: #212121;
      }
    }

    @media screen and(max-width: 992px) {
      display: flex;
      flex-direction: row;
      grid-row-gap: 0;
      order: 2;
      flex-wrap: wrap;

      span + img, span + svg {
        display: block;
      }

      .nav-item {
        font-size: 2vh;
        line-height: 2.4vh;
        margin-bottom: 2.2vh;

        &:first-child {
          order: 1;
          span {
            display: none;
          }
        }
        &:nth-child(2) {
          order: 4;
          flex-basis: 100%;
        }

        &:nth-child(3) {
          order: 2;
          span {
            display: none;
          }
        }

        &:nth-child(4) {
          order: 5;
          flex-basis: 100%;
        }

        &:nth-child(5) {
          order: 3;
          margin-bottom: 4.5vh;
          span {
            display: none;
          }
        }

        &:last-child {
          margin-bottom: 0;
          order: 6;
          flex-basis: 100%;
        }
      }
    }

    .nav-item {
      @media screen and(min-width: 993px) {
        font-size: 1.95vh;
        line-height: 2.23vh;
      }
    }
  }

  .nav-item {
    color: $black;
    white-space: nowrap;
    cursor: pointer;
    height: fit-content;
  }

  &.opened {
    .menu-social-links {
      svg {
        path {
          fill: #212121;
        }
      }
    }

    .menu-content-container {
      transform: translateX(0);
      overflow: scroll;
    }

    .menu-nav {
      border-right-color: rgba(33, 33, 33, .5);
    }

    .menu-logo {
      path {
        &:last-child, &:nth-child(3) {
          fill: $black;
        }
      }
    }

    .menu-content {
      clip-path: inset(0 0 0 0);
      -webkit-clip-path: inset(0 0 0 0);
      pointer-events: all;
      visibility: visible;
    }

    .menu-link-business {
      svg {
        path {
          &:first-child {
            fill: $black;
          }
          fill: $yellow;
        }
      }

      span {
        color: $black;
      }
    }

    .menu-burger {
      span, &:before, &:after {
        background-color: $black;
      }
    }

    .menu-btn {
      border-top-color: rgba(33, 33, 33, .5);
      span {
        color: $black;
      }

      svg {
        path {
          fill: $black;
        }
      }
    }
  }

  &.backward {
    .menu-btn {
      transition: border-right-color 1s ease-in;
      -webkit-transition: border-right-color 1s ease-in;

      span {
        transition: color 1s ease-in;
        -webkit-transition: color 1s ease-in;
      }

      svg {
        path {
          transition: all 1s ease-in;
          -webkit-transition: all 1s ease-in;
        }
      }
    }
  }
}

@keyframes show {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showSm {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}