.modal {
  background: rgba(33, 33, 33, 0.6);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in;

  @media screen and(max-width: 992px) {
    padding: 0 20px;
  }

  &.active {
    opacity: 1 !important;
    pointer-events: all;
  }

  .modal-content {
    padding: 70px 0 80px;
    background-color: $yellow;
    max-width: 820px;
    width: 100%;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media screen and(max-width: 992px) {
      padding: 30px 20px 40px;
    }

    @media screen and(max-height: 700px) and(min-width: 993px) {
      padding: 9.9vh 0 11.36vh;
    }
  }

  .modal-title {
    font-family: $boldFont;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 16px;

    @media screen and(max-width: 992px) {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 8px;
    }

    @media screen and(max-height: 700px) and(min-width: 993px) {
      font-size: 6.8vh;
      line-height: 7.8vh;
      margin-bottom: 2.2vh;
    }
  }

  .modal-desc {
    max-width: 460px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;

    @media screen and(max-width: 992px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    @media screen and(max-height: 700px) and(min-width: 993px) {
      font-size: 2.27vh;
      line-height: 3.4vh;
      margin-bottom: 4.2vh;
    }
  }

  .modal-form {
    max-width: 334px;
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
    
    @media screen and(max-width: 992px) {
      grid-row-gap: 12px;
    }

    @media screen and(max-height: 700px) and(min-width: 993px) {
      grid-row-gap: 1.7vh;
    }
  }

  .close {
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    cursor: pointer;
    
    @media screen and(max-width: 992px) {
      top: -40px;
      right: 0;
      path {
        fill: #fff;
      }
    }

    @media screen and(max-height: 700px) and(min-width: 993px) {
      top: 3.4vh;
      right: 3.4vh;
    }
  }

  .default-input {
    @media screen and(max-height: 700px) and(min-width: 993px) {
      font-size: 2.5vh;
      line-height: 3vh;
      border-radius: 16.6vh;
      height: 8vh;

      &::placeholder {
        font-size: 2.5vh;
        line-height: 3vh;
      }
    }
  }

  .default-btn {
    @media screen and(max-height: 700px) and(min-width: 993px) {
      border-radius: 16.6vh;
      height: 8vh;

      span {
        font-size: 2.5vh;
        line-height: 3vh;
      }
    }
  }
}

#thanksgiving, #errorModal {
  z-index: 400;

  .default-btn {
    width: 13.750vw;
    max-width: unset;

    span {
      margin-right: 0;
    }
  }
}