#cases-page {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  
  @media screen and(max-width: 992px) {
    padding-top: 82px;
    padding-bottom: 30px;
    display: block;
  }

  .default-title {
    @media screen and(max-width: 992px) {
      margin-bottom: 20px;
      padding: 0 20px;
    }

    @media screen and(min-width: 993px) {
      font-size: 4.762vw;
      line-height: 5vw;
    }

    span {
      animation: bottomMask 1s $cubic backwards;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    max-width: 100%;
    width: 100%;
    padding: 0 4.762vw;

    @media screen and(max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      margin-bottom: 30px;
    }

    @media screen and(min-width: 993px) {
      margin-bottom: 4.5vh;
    }
  }

  .cases-tabs {
    display: flex;
    @media screen and(max-width: 992px) {
      overflow: scroll;
      width: 100%;
      padding: 0 20px;
    }

    .tab {
      height: 44px;
      padding: 0 24px;
      border: 2px solid $yellow;
      border-radius: 131px;
      color: $yellow;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      line-height: 18.32px;
      transition: all .3s $cubic;
      animation: clipRight 1s .2s $cubic backwards;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
        margin-right: 12px;
        white-space: nowrap;
      }

      @media screen and(min-width: 993px) {
        height: 2.619vw;
        padding: 0 1.429vw;
        border: 0.119vw solid $yellow;
        border-radius: 6.964vw;
        margin-right: 0.952vw;
        line-height: 1.071vw;
        font-size: 0.952vw;
      }

      &:nth-child(2) {
        animation-delay: .3s;
      }

      &:nth-child(3) {
        animation-delay: .4s;
      }

      &:nth-child(4) {
        animation-delay: .5s;
      }

      &:last-child {
        animation-delay: .6s;
        margin-right: 0;
      }

      &.active {
        background-color: $yellow;
        color: $black;
      }
    }
  }

  .cases {
    padding-left: 80px;
    min-height: 75vh;

    @media screen and(max-width: 992px) {
      overflow: scroll;
      width: 100%;
      padding-left: 20px;
      min-height: auto;
    }

    @media screen and(min-width: 993px) {
      padding-left: 4.762vw;
      min-height: 79.5vh;
    }
  }

  .cases-container {
    display: inline-flex;
  }

  .case {
    width: 460px;
    margin-right: 60px;
    display: none;
    
    @media screen and(max-width: 992px) {
      width: 85vw;
      margin-right: 20px;
    }

    @media screen and(min-width: 993px) {
      width: 65.3vh;
      margin-right: 8.5vh;
    }

    &.active {
      display: block;
    }

    &:last-child {
      img {
        object-fit: contain;
      }

      a {
        transition: color .2s ease-in;
      }

      a:hover {
        color: $yellow;

        svg {
          path {
            fill: $yellow;
          }
        }
      }

      span {
        margin-right: .3vw;

        @media screen and(max-width: 992px) {
          margin-right: 4px;
        }
      }

      svg {
        path {
          transition: fill .2s ease-in;
          fill: #fff;
        }
      }

      a > img, a > svg {
        transform: rotate(90deg);
        height: .6vw;

        @media screen and(max-width: 992px) {
          height: 7px;
        }
      }
    }

    img {
      width: 42vh;
      height: 42vh;
      object-fit: cover;
      margin-bottom: 32px;
      animation: clipRight 1s $cubic backwards;

      @media screen and(max-width: 992px) {
        width: 85vw;
        height: 85vw;
        margin-bottom: 12px;
      }

      @media screen and(max-height: 920px) and(min-width: 993px) {
        width: 56vh;
        height: 56vh;
        margin-bottom: 4.5vh;
      }

      @media screen and(min-width: 1024px) and(min-height: 700px){
        width: 59vh;
        height: 59vh;
      }
      
      @media screen and(min-width: 1200px) and(max-height: 630px) {
        width: 55vh;
        height: 55vh;
      }

      @media screen and(min-width: 1280px) and(max-height: 800px){
        width: 59vh;
        height: 59vh;
      }

      @media screen and(min-width: 1280px) and(max-height: 680px) {
        width: 56vh;
        height: 56vh;
      }

      @media screen and(min-width: 1280px) and(min-height: 1024px){
        width: 64vh;
        height: 64vh;
      }

      @media screen and(min-width: 1440px) and(min-height: 760px){
        width: 58vh;
        height: 58vh;
      }

      @media screen and(min-width: 1440px) and(min-height: 920px){
        width: 60vh;
        height: 60vh;
      }

      @media screen and(min-width: 1440px) and(min-height: 1000px){
        width: 62vh;
        height: 62vh;
      }

      @media screen and(min-width: 1920px) and(min-height: 1000px){
        width: 59vh;
        height: 59vh;
      }
    }

    .default-subtitle {
      animation: textRight 1s $cubic backwards;

      @media screen and(min-width: 993px) {
        font-size: 0.952vw;
        line-height: 1.071vw;
      }
    }

    .default-title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 10px;
      animation: textRight 1s .1s $cubic backwards;

      @media screen and(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 6px;
        padding-left: 0;
      }

      @media screen and(min-width: 993px) {
        font-size: 1.905vw;
        line-height: 2.262vw;
        margin-bottom: 0.595vw;
      }
    }

    .default-desc {
      animation: textRight 1s .2s $cubic backwards;
      @media screen and(max-width: 992px) {
        font-size: 12px;
        line-height: 18px;
      }

      @media screen and(min-width: 993px) {
        font-size: 0.833vw;
        line-height: 1.429vw;
      }
    }
  }
}