#clients-page {
  padding-top: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;

  @media screen and(max-width: 992px) {
    display: block;
    padding: 92px 0 41px;
  }

  .container {
    max-width: 100%;
  }

  .clients-page-title {
    display: flex;
    align-items: flex-end;

    span:first-child {
      margin-right: 1.5vw;
    }

    span:last-child {
      color: rgb(180, 180, 180);
      font-size: 1.5vw;
      position: relative;
      top: 1vw;
      line-height: inherit;
      letter-spacing: normal;
      font-weight: $mainFont;

      @media screen and(max-width: 992px) {
        font-size: 15px;
        top: 6px;
      }

      @media screen and(max-width: 320px) {
        font-size: 10px;
        top: 7px;
      }
    }
  }

  .default-title {
    margin-bottom: 4.5vh;
    font-size: 4.762vw;
    line-height: 5vw;

    @media screen and(max-width: 992px) {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 20px;
    }
  }

  .clients {
    @media screen and(max-width: 992px) {
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 0 20px;
      overflow: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .clients-container {
    display: inline-flex;
  }

  .client {
    margin-right: 3.571vw;
    pointer-events: none;
    width: 33.333vw;
    overflow: hidden;

    @media screen and(max-width: 992px) {
      margin-right: 20px;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
      display: flex;
      flex-direction: column;

      img {
        height: auto;
        margin: auto 0;
      }

      @media screen and(max-width: 992px) {
        margin-right: 20px;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 65vh;
      margin-bottom: 2.2vh;
      
      @media screen and(max-width: 992px) {
        width: 84vw;
        height: 109.867vw;
        margin-bottom: 20px;
      }

      @media screen and(min-width: 1024px) and(min-height: 570px){
        height: 65vh;
      }

      @media screen and(min-width: 1152px) and(min-height: 760px){
        height: 67vh;
      }

      @media screen and(min-width: 1200px) and(min-height: 600px){
        height: 64vh;
      }

      @media screen and(min-width: 1200px) and(min-height: 680px){
        height: 66vh;
      }

      @media screen and(min-width: 1280px) and(max-height: 600px){
        height: 63vh;
      }

      @media screen and(min-width: 1280px) and(min-height: 600px){
        height: 64vh;
      }

      @media screen and(min-width: 1280px) and(min-height: 680px){
        height: 66vh;
      }

      @media screen and(min-width: 1440px) and(min-height: 880px){
        height: 67vh;
      }

      @media screen and(min-width: 1400px) and(min-height: 960px){
        height: 69vh;
      }

      @media screen and(min-width: 1530px) and(min-height: 940px){
        height: 68vh;
      }

      @media screen and(min-width: 1530px) and(min-height: 1024px){
        height: 68vh;
      }

      @media screen and(min-width: 1600px) and(min-height: 860px){
        height: 67vh;
      }

      @media screen and(min-width: 1600px) and(min-height: 960px){
        height: 67vh;
      }

      @media screen and(min-width: 1600px) and(min-height: 1100px){
        height: 69vh;
      }

      @media screen and(min-width: 1600px) and(min-height: 1200px){
        height: 70vh;
      }

      @media screen and(min-width: 1920px) and(min-height: 1024px){
        height: 67vh;
      }

      @media screen and(min-width: 1920px) and(min-height: 1200px){
        height: 69vh;
      }
    }

    .default-title {
      font-size: 1.429vw;
      line-height: 1.607vw;
      margin-bottom: 0.893vw;
      white-space: nowrap;

      @media screen and(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 6px;
        white-space: unset;
      }
    }
  }

  .client-links {
    display: flex;

    a {
      font-size: 0.952vw;
      line-height: 1.071vw;
      color: $yellow;
      margin-right: 1.190vw;
      pointer-events: all;

      @media screen and(max-width: 992px) {
        font-size: 12px;
        line-height: 18px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}