#contacts-page {
  min-height: 100vh;
  padding-top: 0;
  display: flex;
  align-items: center;

  @media screen and(max-width: 992px) {
    padding: 82px 0 31px;
    display: block;
  }

  .container {
    width: 100%;
  }

  .contacts-page-btn {
    position: absolute;
    top: 3.631vw;
    right: 3.869vw;
    animation: fromOpacity 1s $cubic backwards;
    font-size: 1.190vw;
    line-height: 1.369vw;

    img, svg {
      height: 0.714vw;
    }

    @media screen and(max-width: 992px) {
      display: none;
    }
  }

  .contacts-form {
    max-width: 19.881vw;
    width: 100%;
    display: grid;

    @media screen and(max-width: 992px) {
      margin-bottom: 40px;
      max-width: 100%;
      grid-row-gap: 12px;
    }
  }

  .default-title {
    margin-bottom: 1.1vh;
    font-size: 3.810vw;
    line-height: 4.345vw;
    letter-spacing: -0.02em;
    height: fit-content;

    @media screen and(max-width: 992px) {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 20px;
    }
  }

  .contacts-page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and(max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  .default-title {
    margin-bottom: 3vh;

    @media screen and(max-width: 992px) {
      margin-bottom: 25px;
    }
  }

  .contacts-social-links {
    display: grid;
    grid-row-gap: 2.5vh;
    margin-bottom: 4.58vh;

    @media screen and(max-width: 992px) {
      grid-row-gap: 15px;
      margin-bottom: 30px;
    }

    a {
      display: flex;
      align-items: center;

      img, svg {
        margin-right: 0.714vw;
        width: 1.429vw;

        @media screen and(max-width: 992px) {
          margin-right: 8px;
          width: 16px;
          max-height: 16px;
        }
      }

      span {
        font-size: 1.190vw;
        line-height: 1.369vw;

        @media screen and(max-width: 992px) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .contacts-info-links {
    display: flex;
    flex-direction: column;
    padding-top: 10.5vh;

    @media screen and(max-width: 992px) {
      padding-top: 0;
    }

    a {
      font-size: 1.190vw;
      line-height: 1.369vw;
      margin-bottom: 2.3vh;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15.95px;
      }
    }
  }

  .input-wrap {
    height: 3.333vw;
    margin-bottom: 2.4vh;

    @media screen and(max-width: 992px) {
      margin-bottom: 12px;
    }
  }

  .error-hint {
    bottom: -3.190vw;

    @media screen and(max-width: 992px) {
      bottom: -14px;
      font-size: 11px;
      margin-top: 0;
    }
  }

  .contacts-btn-container {
    width: 100%;
  }

  .default-btn {
    display: block;
    width: 100%;
  }

  .default-input {
    padding: 0 1.429vw;

    @media screen and(max-width: 992px) {
      padding: 0 20px;
    }

    &::placeholder {
      font-size: 1.071vw;
      line-height: 1.250vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .default-btn {
    span {
      font-size: 1.071vw;
      line-height: 1.250vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .default-btn, .default-input {
    border-radius: 6.964vw;
    font-size: 1.071vw;
    line-height: 1.250vw;
    height: 3.333vw;

    @media screen and(max-width: 992px) {
      border-radius: 117px;
      height: 40px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .input-wrap, .default-btn {
    max-width: 19.881vw;
    width: 100%;
    height: 3.333vw;

    @media screen and(max-width: 992px) {
      max-width: 100%;
      height: 40px;
    }
  }
}