#empty-case {
  height: 100vh;
  padding: 0;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .logo {
    margin-bottom: 7.3vh;
    width: 7.976vw;
    height: auto;

    @media screen and(max-width: 992px) {
      width: 107px;
      margin-bottom: 30px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .default-subtitle {
    margin-bottom: 3.46vh;
    text-align: center;
    font-size: 2.381vw;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: white;
    font-family: $boldFont;
    width: 45.357vw;

    @media screen and(max-width: 992px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
      width: auto;
    }
  }

  .more-link {
    color: white;
    font-size: 1.190vw;
    line-height: 1.369vw;
    text-align: center;
    display: block;
    margin-bottom: 4.5vh;

    @media screen and(max-width: 992px) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 30px;
    }

    span {
      transition: color .3s $cubic;
      &:hover {
        color: $yellow;
      }
    }
  }

  .default-btn {
    padding: 1.012vw 2.381vw 1.071vw;
    height: auto;
    width: auto;

    @media screen and(max-width: 992px) {
      padding: 11px 32px 12px;
    }

    span {
      font-size: 1.071vw;
      line-height: 1.250vw;
      margin-right: 0.298vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
        margin-right: 1px;
      }
    }

    img, svg {
      width: 0.833vw;
      height: 0.714vw;

      @media screen and(max-width: 992px) {
        position: relative;
        top: 1px;
        width: 12px;
        height: 10px;
      }
    }
  }
}