#main-page {
  color: #fff;
  min-height: 100vh;

  @media screen and(max-width: 992px) {
    padding-top: 82px;
  }

  .container {
    max-width: 100%;
  }

  .default-btn.main-page-btn {
    width: fit-content;
    max-width: unset;
    height: auto;
    padding: 1.7578125vh 2.381vw;
    cursor: pointer;

    @media screen and(max-width: 992px) {
      height: 40px;
      padding: 11px 32px 13px;
    }
  }

  .main-page-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    @media screen and(max-width: 992px) {
      pointer-events: none;
      top: 21.867vw;
      transform: unset;
    }
  }

  .section-title {
    font-size: 4.762vw;
    line-height: 5.179vw;
    letter-spacing: -0.02em;
    font-family: $boldFont;
    width: 100%;
    margin-bottom: 3.8vh;

    @media screen and(max-width: 992px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    @media screen and(max-width: 350px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }

    span {
      display: block;
      white-space: nowrap;
    }

    .container-mask {
      overflow: hidden;
      position: relative;

      .section-title-mask-container {
        display: flex;
        flex-direction: column;
        transition: transform 1.9s $cubic;
      }

      span {
        display: block;
      }

      .section-title-mask-container {
        animation: bottomMask 1s $cubic backwards;
      }

      &:first-child {
        .section-title-mask-container {
          animation-delay: .1s;
        }
      }

      &:nth-child(2) {
        .section-title-mask-container {
          animation-delay: .2s;
        }
      }

      &:last-child {
        .section-title-mask-container {
          animation-delay: .3s;
        }
      }
    }
  }

  .container-mask {
    transition: height 1.2s .2s $cubic;
  }

  .section-desc {
    margin-bottom: 4.5vh;
    font-size: 1.071vw;
    line-height: 1.905vw;
    overflow: hidden;

    @media screen and(max-width: 992px) {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 30px;
    }

    @media screen and(max-width: 350px) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }

  .section-desc-container {
    animation: bottomMask 1s .4s $cubic both;

    span {
      white-space: pre;
      display: flex;
    }

    .container-mask {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;

      .section-desc-mask-container {
        display: flex;
        flex-direction: column;
        transition: transform 1.9s $cubic;
      }
    }
  }

  .fp-section-images {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

    img {
      position: absolute;
    }
  }

  .default-btn {
    max-width: 14.048vw;
    margin-bottom: 6.1vh;
    width: 100%;
    animation: clipRight 1s .5s $cubic both;
    height: 3.333vw;

    @media screen and(max-width: 992px) {
      max-width: 185px;
      margin-bottom: 30px;
      height: 40px;
    }

    @media screen and(max-width: 350px) {
      margin-bottom: 22px;
    }

    span {
      font-size: 1.071vw;
      line-height: 1.250vw;
      margin-right: 0.536vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
        margin-right: 3px;
      }
    }

    img, svg {
      height: 0.832vw;

      @media screen and(max-width: 992px) {
        height: 10px;
      }
    }
  }

  .progress-bar {
    max-width: 29.762vw;
    width: 100%;
    background-color: $blackSec;
    height: 0.238vw;
    border-radius: 1.786vw;

    @media screen and(max-width: 992px) {
      max-width: 335px;
      height: 4px;
      border-radius: 30px;
    }

    @media screen and(max-width: 350px) {
      max-width: 280px;
    }

    .progress {
      width: 0%;
      height: inherit;
      border-radius: inherit;
      background-color: #fff;
      transition: width 1s .6s $cubic;
    }
  }

  .main-page-content {
    &.animation-start {
      .progress {
        transition-delay: .3s;
      }
    }
  }
}

#fullpage {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  &.up {
    .fp-section.up {
      &:nth-child(even) {
        .fp-section-images {
          img {
            &:first-child {
              transform: translateY(100vw) ;
              transition-delay: .3s;

              @media screen and(max-width: 992px) {
                transform: translateX(100vw);
              }
            }

            &:nth-child(2) {
              transform: translateY(100vw) ;
              transition-delay: .2s;

              @media screen and(max-width: 992px) {
                transform: translateX(100vw);
              }
            }

            &:last-child {
              transform: translateY(100vw) ;
              transition-delay: .1s;

              @media screen and(max-width: 992px) {
                transform: translateX(100vw);
              }
            }
          }
        }
      }

      &:nth-child(odd) {
        .fp-section-images {
          img {
            transition: all 1.2s $cubic;
            &:first-child {
              transition-delay: .1s;
              transform: translateY(100vw);

              @media screen and(max-width: 992px) {
                transform: translateX(100vw);
              }
            }

            &:last-child {
              transform: translateY(100vw);

              @media screen and(max-width: 992px) {
                transform: translateX(120vw);
              }
            }

            &:nth-child(2) {
              transition-delay: .2s;
              transform: translateY(100vw);

              @media screen and(max-width: 992px) {
                transform: translateX(100vw);
              }
            }

            &:nth-child(3) {
              transition-delay: .3s;
              transform: translateY(100vw);

              @media screen and(max-width: 992px) {
                transform: translateX(120vw);
              }
            }
          }
        }
      }

    }
  }

  &.down {
    .fp-section.down {
      &:nth-child(even) {
        .fp-section-images {
          img {
            transition: all 1.2s $cubic;

            &:first-child {
              transition-delay: 0s;
              transform: translateY(-35vw);

              @media screen and(max-width: 992px) {
                transform: translateX(-110vw);
              }
            }

            &:nth-child(2) {
              transition-delay: .1s;
              transform: translateY(-60vw);

              @media screen and(max-width: 992px) {
                transform: translateX(-100vw);
              }
            }

            &:last-child {
              transition-delay: .2s;
              transform: translateY(-80vw);

              @media screen and(max-width: 992px) {
                transform: translateX(-100vw);
              }
            }
          }
        }
      }

      &:nth-child(odd) {
        .fp-section-images {
          img {
            transition: all 1.2s $cubic;
            &:first-child {
              transition-delay: .1s;
              transform: translateY(-35vw);

              @media screen and(max-width: 992px) {
                transform: translateX(-100vw);
              }
            }

            &:last-child {
              transform: translateY(-40vw);

              @media screen and(max-width: 992px) {
                transform: translateX(-100vw);
              }
            }

            &:nth-child(2) {
              transition-delay: .2s;
              transform: translateY(-60vw);

              @media screen and(max-width: 992px) {
                transform: translateX(-100vw);
              }
            }

            &:nth-child(3) {
              transition-delay: .3s;
              transform: translateY(-70vw);

              @media screen and(max-width: 992px) {
                transform: translateX(-120vw);
              }
            }
          }
        }
      }
    }

  }

  .fp-section {
    position: absolute;
    top: 0;
    left: 0;
    //background-color: $black;
    width: 100%;
    height: 100%;

    &.fp-completely {
      z-index: 5;
    }

    &.setup-animation {
      .fp-section-images {
        img {
          transition: unset !important;
        }
      }
    }

    &:nth-child(odd) {
      img {
        transition: all 1.2s $cubic;
        &:first-child {
          transition-delay: .1s;
          transform: translateY(100vw);

          @media screen and(max-width: 992px) {
            transform: translateX(100vw);
          }
        }

        &:nth-child(2) {
          transform: translateY(100vw);

          @media screen and(max-width: 992px) {
            transform: translateX(100vw);
          }
        }

        &:nth-child(3) {
          transition-delay: .2s;
          transform: translateY(100vw);

          @media screen and(max-width: 992px) {
            transform: translateX(100vw);
          }
        }

        &:last-child {
          transition-delay: .3s;
          transform: translateY(100vw);

          @media screen and(max-width: 992px) {
            transform: translateX(120vw);
          }
        }
      }
    }

    &:first-child {
      img {
        &:first-child {
          animation: clipBottom 1s .8s $cubic backwards;
        }

        &:nth-child(2) {
          animation: clipTop 1s .9s $cubic backwards;
        }

        &:nth-child(3) {
          animation: clipRight 1s 1s $cubic backwards;
        }

        &:last-child {
          animation: clipRight 1s .7s $cubic backwards;
        }
      }
    }

    &:nth-child(even) {
      .fp-section-images {
        img {
          transition: all 1.2s $cubic;

          &:first-child {
            transition-delay: .7s;
          }

          &:nth-child(2) {
            transition-delay: .8s;
            z-index: 2;
          }

          &:last-child {
            transition-delay: .9s;
          }
        }
      }
    }

    &.active {
      .fp-section-images {
        img {
          transform: translateY(0) !important;

          @media screen and(max-width: 992px) {
            transform: translateX(0) !important;
          }
        }
      }

      &:nth-child(even) {

        .fp-section-images {
          img {
            transition: all 1.2s $cubic;
            transform: translateY(0) !important;

            @media screen and(max-width: 992px) {
              transform: translateX(0) !important;
            }

            &:first-child {
              transition-delay: .7s;
            }

            &:nth-child(2) {
              transition-delay: .8s;
            }

            &:last-child {
              transition-delay: .9s;
            }
          }
        }
      }
    }

    &:nth-child(odd) {

      .fp-section-images {
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        img {
          &:first-child {
            width: 25vw;
            top: 2.381vw;
            right: 2.381vw;

            @media screen and(max-width: 1440px) {
              width: 22.555vw;
              right: 5.720vw;
              top: 2.778vw;
            }

            @media screen and(max-height: 1180px) and(min-width: 993px){
              width: 35.5vh;
              height: 35.5vh;
              right: 10vh;
              top: 3.3vh;
            }
            
            @media screen and(max-width: 992px) {
              width: 45.259vw;
              height: 45.259vw;
              right: 13.408vw;
              top: unset;
              bottom: 14.208vw;
            }

            @media only screen
            and (device-width : 414px)
            and (device-height : 736px)
            and (-webkit-device-pixel-ratio : 3) {
              bottom: -3.888vw;
            }

            @media only screen
            and (device-width : 375px)
            and (device-height : 667px)
            and (-webkit-device-pixel-ratio : 2) {
              bottom: -13vw;
            }
          }

          &:nth-child(2) {
            width: 28.036vw;
            top: 23.452vw;
            right: 10.774vw;

            @media screen and(max-width: 1440px) {
              width: 25.294vw;
              top: 21.788vw;
              right: 13.093vw;
            }

            @media screen and(max-height: 1180px) and(min-width: 993px){
              width: 39.8vh;
              height: 39.8vh;
              top: 33.3vh;
              right: 22vh;
            }

            @media screen and(max-width: 992px) {
              top: unset;
              width: 50.755vw;
              height: 50.755vw;
              bottom: -4.888vw;
              left: 6.667vw;
              right: unset;
            }

            @media only screen
            and (device-width : 414px)
            and (device-height : 736px)
            and (-webkit-device-pixel-ratio : 3) {
              bottom: -22.888vw;
            }

            @media only screen
            and (device-width : 375px)
            and (device-height : 667px)
            and (-webkit-device-pixel-ratio : 2) {
              bottom: -30vw;
            }
          }

          &:nth-child(3) {
            width: 23.681vw;
            top: 38.274vw;
            right: 0;

            @media screen and(max-width: 1440px) {
              width: 18.313vw;
              top: 35.139vw;
              right: 4.092vw;
            }

            @media screen and(max-height: 1180px) and(min-width: 993px){
              width: 28.8vh;
              height: 28.8vh;
              top: 54vh;
              right: 6.7vh;
            }

            @media screen and(max-width: 992px) {
              width: 36.747vw;
              height: 36.747vw;
              top: unset;
              right: -6.613vw;
              bottom: 0;
            }

            @media only screen
            and (device-width : 414px)
            and (device-height : 736px)
            and (-webkit-device-pixel-ratio : 3) {
              bottom: -16vw;
            }

            @media only screen
            and (device-width : 375px)
            and (device-height : 667px)
            and (-webkit-device-pixel-ratio : 2) {
              bottom: -20vw;
            }
          }

          &:last-child {
            width: 19.583vw;
            right: 29.762vw;
            top: 12.381vw;

            @media screen and(max-width: 1440px) {
              width: 17.668vw;
              right: 30.943vw;
              top: 11.800vw;
            }

            @media screen and(max-height: 1180px) {
              width: 27.8vh;
              height: 27.8vh;
              top: 17.6vh;
              right: 49vh;
            }

            @media screen and(max-width: 992px) {
              width: 39.467vw;
              height: 39.467vw;
              top: unset;
              bottom: 24.533vw;
              left: -8.800vw;
            }

            @media only screen
            and (device-width : 414px)
            and (device-height : 736px)
            and (-webkit-device-pixel-ratio : 3) {
              bottom: 7vw;
            }

            @media only screen
            and (device-width : 375px)
            and (device-height : 667px)
            and (-webkit-device-pixel-ratio : 2) {
              bottom: -3vw;
            }
          }
        }
      }
    }

    &:nth-child(even) {
      .fp-section-images {
        img {
          &:first-child {
            top: 1.786vw;
            right: -2.976vw;
            width: 26.667vw;
            height: 26.667vw;
            transform: translateY(100vw);

            @media screen and(max-width: 992px) {
              transform: translateX(100vw);
              top: unset;
              bottom: 14.027vw;
              width: 50.400vw;
              height: 50.400vw;
              z-index: 3;
            }

            @media screen and(max-height: 1180px) and(min-width: 993px){
              width: 37.9vh;
              height: 37.9vh;
              top: 2.45vh;
              right: -4.23vh;
            }

            @media only screen
            and (device-width : 414px)
            and (device-height : 736px)
            and (-webkit-device-pixel-ratio : 3) {
              bottom: 3.888vw;
            }

            @media only screen
            and (device-width : 375px)
            and (device-height : 667px)
            and (-webkit-device-pixel-ratio : 2) {
              bottom: -6vw;
            }
          }

          &:nth-child(2) {
            width: 24.345vw;
            height: 24.345vw;
            top: 14.107vw;
            right: 26.131vw;
            transform: translateY(100vw);

            @media screen and(max-width: 992px) {
              transform: translateX(100vw);
              top: unset;
              bottom: 6.377vw;
              left: 0;
              width: 46.133vw;
              height: 46.133vw;
            }

            @media screen and(max-height: 1180px) and(min-width: 993px) {
              width: 38.6vh;
              height: 38.6vh;
              top: 45.3vh;
              right: 9.5vh;
            }

            @media only screen
            and (device-width : 414px)
            and (device-height : 736px)
            and (-webkit-device-pixel-ratio : 3) {
              bottom: -8vw;
            }

            @media only screen
            and (device-width : 375px)
            and (device-height : 667px)
            and (-webkit-device-pixel-ratio : 2) {
              bottom: -10vw;
            }
          }

          &:last-child {
            top: 30.893vw;
            right: 6.845vw;
            width: 27.202vw;
            height: 27.202vw;
            transform: translateY(100vw);

            @media screen and(max-width: 992px) {
              transform: translateX(100vw);
              top: unset;
              bottom: -5vw;
              width: 51.467vw;
              height: 51.467vw;
              right: 17.867vw;
            }

            @media screen and(max-height: 1180px) and(min-width: 993px){
              width: 34.6vh;
              height: 34.6vh;
              top: 20vh;
              right: 37.3vh;
            }

            @media only screen
            and (device-width : 414px)
            and (device-height : 736px)
            and (-webkit-device-pixel-ratio : 3) {
              bottom: -20.888vw;
            }

            @media only screen
            and (device-width : 375px)
            and (device-height : 667px)
            and (-webkit-device-pixel-ratio : 2) {
              bottom: -23vw;
            }
          }
        }
      }
    }
  }

  .fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}