#malfa-page {
  padding-top: 9.524vw;

  @media screen and(max-width: 993px) {
    padding-top: 82px;
  }

  .section-title {
    text-align: center;
  }

  .main-section {
    padding-bottom: 4.286vw;

    @media screen and(max-width: 992px) {
      padding-bottom: 25px;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2.381vw;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0;
      }
    }

    .section-content {
      max-width: 32.738vw;

      @media screen and(max-width: 992px) {
        max-width: 100%;
        margin-bottom: 1.786vw;
      }
    }

    .default-title {
      margin-bottom: 2.381vw;
      font-size: 4.762vw;
      line-height: 5vw;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .default-subtitle {
      font-size: 1.429vw;
      line-height: 1.607vw;
      margin-bottom: 2.381vw;

      @media screen and(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 15px;
      }
    }

    .default-desc {
      font-size: 1.071vw;
      line-height: 1.905vw;
      max-width: 31.071vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
      }
    }

    .section-img {
      display: flex;
      justify-content: flex-end;

      @media screen and(max-width: 992px) {
        margin-bottom: 50px;
      }

      img {
        width: 100%;
        max-width: 600px;
        max-height: 600px;
        object-fit: contain;
      }
    }

    .section-statistic {
      grid-column: 1/-1;

      .default-subtitle {
        margin-bottom: 1.488vw;
        color: #fff;

        @media screen and(max-width: 992px) {
          font-size: 32px;
          line-height: 37px;
          font-family: $boldFont;
          margin-bottom: 20px;
        }
      }
    }

    .statistic-container {
      display: flex;
      align-items: center;
      width: 100%;

      @media screen and(max-width: 992px) {
        overflow: scroll;
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;
      margin-right: 5.952vw;

      @media screen and(max-width: 992px) {
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0;
      }

      span {
        @media screen and(max-width: 992px) {
          white-space: nowrap;
        }

        &:first-child {
          font-size: 3.810vw;
          line-height: 4.345vw;
          letter-spacing: -0.02em;
          color: $yellow;
          margin-bottom: 0.714vw;
          font-family: $boldFont;

          @media screen and(max-width: 992px) {
            font-size: 48px;
            line-height: 55px;
            margin-bottom: 0;
          }
        }

        &:last-child {
          font-size: 1.190vw;
          line-height: 1.369vw;
          color: #fff;

          @media screen and(max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .promotion-section {
    padding: 72px 0 80px;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .section-title {
      margin-bottom: 50px;

      @media screen and(max-width: 992px) {
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: left;
      }
    }

    .promotion-marquee {
      width: 100%;
      height: 470px;
      
      @media screen and(max-width: 992px) {
        height: 338px;
      }
    }

    .js-marquee-wrapper {
      transform: translateX(0) !important;
    }

    .promotion-marquee-wrapper {
      display: flex;
    }

    .promotion {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 320px;
      margin-right: 60px;

      @media screen and(max-width: 992px) {
        margin-right: 20px;
        width: 230px;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 420px;
        margin-bottom: 25px;
        
        @media screen and(max-width: 992px) {
          width: 230px;
          height: 302px;
          margin-bottom: 15px;
        }
      }

      span {
        font-size: 22px;
        line-height: 25px;
        color: #fff;

        @media screen and(max-width: 992px) {
          font-size: 18px;
          line-height: 21px;
          font-family: $boldFont;
        }
      }
    }
  }

  .releases-section {
    padding: 80px 0;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .section-title {
      margin-bottom: 50px;

      @media screen and(max-width: 992px) {
        margin-bottom: 20px;
        text-align: left;
        padding: 0 20px;
      }
    }

    .container {
      @media screen and(max-width: 1920px) {
        padding: 0 11px;
      }

      @media screen and(max-width: 992px) {
        padding: 0 20px;
        overflow: scroll;
      }

    }

    .releases {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 11px;

      @media screen and(max-width: 992px) {
        grid-template-columns: repeat(auto-fill, 130px);
        grid-template-rows: repeat(3, 130px);
        width: calc(34 * 130px / 2.85);
      }
    }

    .release {
      @media screen and(max-width: 992px) {
        height: 130px;
        width: 130px;
      }

      img {
        width: 100%;
        object-fit: cover;
        display: block;

        @media screen and(max-width: 992px) {
          width: 130px;
        }
      }
    }
  }

  .clips-section {
    padding: 80px 0;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .section-title {
      margin-bottom: 50px;

      @media screen and(max-width: 992px) {
        margin-bottom: 20px;
        text-align: left;
        padding-left: 20px;
      }
    }

    .container {
      @media screen and(max-width: 1920px) {
        padding: 0 11px;
      }

      @media screen and(max-width: 992px) {
        padding: 0 20px;
        overflow: scroll;
      }
    }

    .clips {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 11px;

      @media screen and(max-width: 992px) {
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 10px;
        padding-right: 20px;
      }
    }

    .clip {

      @media screen and(max-width: 992px) {
        width: 214px;
        height: 120px;
        grid-column-end: unset !important;
      }

      &:nth-last-child(1) {
        grid-column-end: -2;
      }

      &:nth-last-child(2) {
        grid-column-end: -3;
      }

      &:nth-last-child(3) {
        grid-column-end: -4;
      }

      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .promotion-statistic-section {
    padding: 80px 0;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .section-title {
      margin-bottom: 60px;

      @media screen and(max-width: 992px) {
        margin-bottom: 17px;
        padding: 0 20px;
      }
    }

    .statistic-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 35px;

      @media screen and(max-width: 992px) {
        display: grid;
        grid-template-columns: 1fr;
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: 22px;
        line-height: 25px;
        font-family: $boldFont;
        margin-bottom: 20px;
        text-align: center;
        color: #fff;

        @media screen and(max-width: 992px) {
          order: 1;
          margin-bottom: 0;
          font-size: 18px;
          line-height: 21px;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
        display: block;

        @media screen and(max-width: 992px) {
          margin-bottom: 15px;
        }
      }
    }
  }

  .developing-section {
    padding: 4.762vw 0;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .section-title {
      text-align: left;
      margin-bottom: 1.786vw;
      font-size: 2.857vw;
      line-height: 3.274vw;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .developing-content {
      position: relative;
      width: 100%;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
      }

      img {
        width: 49.167vw;
        position: relative;
        display: block;

        @media screen and(max-width: 992px) {
          left: 0 !important;
          width: 100%;
        }
      }

      .default-desc {
        font-size: 1.071vw;
        line-height: 1.905vw;

        @media screen and(max-width: 992px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &:first-child {
        margin-bottom: 9.524vw;

        @media screen and(max-width: 992px) {
          margin-bottom: 50px;
        }

        .content-text {
          max-width: 35vw;
          right: 6.786vw;
          top: 2.798vw;

          @media screen and(max-width: 992px) {
            max-width: 100%;
          }
        }

        img {
          left: -2.381vw;
        }
      }

      &:last-child {
        display: flex;
        justify-content: flex-end;

        .content-text {
          max-width: 45.238vw;
          left: 0;

          @media screen and(max-width: 992px) {
            max-width: 100%;
          }
        }

        .default-desc {
          max-width: 34.524vw;

          @media screen and(max-width: 992px) {
            max-width: 100%;
          }
        }

        img {
          right: -2.381vw;
        }
      }
    }

    .content-text {
      position: absolute;

      @media screen and(max-width: 992px) {
        position: static;
        margin-bottom: 20px;
      }
    }
  }

  .landing-development-section {
    background-color: $yellow;
    padding: 160px 0 222px;

    @media screen and(max-width: 992px) {
      padding: 50px 0 20px;
    }

    .section-title {
      margin-bottom: 30px;
      text-align: left;
      color: $black;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
      }
    }

    .default-desc {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 60px;
      color: $black;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
      }
    }

    .section-title, .default-desc {
      max-width: 580px;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 34px;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
      }
    }

    .section-content-images {
      @media screen and(max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
      }

      img {
        &:first-child {
         @media screen and(max-width: 992px) {
           margin-top: 15px;
         }
        }

        &:last-child {
          display: none;

          @media screen and(max-width: 992px) {
            display: block;
          }
        }
      }
    }

    .section-img {
      position: relative;

      @media screen and(max-width: 992px) {
        display: none;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .serebro-section {
    padding-top: 22.738vw;
    padding-bottom: 4.762vw;

    @media screen and(max-width: 992px) {
      padding: 50px 0 25px;
    }

    .container {
      position: relative;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
      }
    }

    .section-img {
      width: 64.286vw;

      @media screen and(max-width: 992px) {
        order: 1;
        width: 100%;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    .section-content {
      position: absolute;
      top: 2.976vw;
      right: 9.524vw;
      max-width: 34.524vw;

      @media screen and(max-width: 992px) {
        position: static;
        max-width: 100%;
      }
    }

    .section-title {
      margin-bottom: 1.786vw;
      text-transform: uppercase;
      text-align: left;
      font-size: 2.857vw;
      line-height: 3.274vw;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .default-subtitle {
      margin-bottom: 1.786vw;
      font-size: 1.429vw;
      line-height: 1.607vw;

      @media screen and(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 15px;
      }
    }

    .default-desc {
      font-size: 1.071vw;
      line-height: 1.905vw;
      margin-bottom: 1.786vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
      }
    }

    .section-title, .default-desc {
      color: #fff;
    }

    .statistic {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1.786vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
        flex-direction: column;
        padding-right: 0;

        img {
          width: 100%;
        }
      }

      span {
        font-size: 1.310vw;
        line-height: 1.488vw;
        color: #fff;
        font-family: $boldFont;

        @media screen and(max-width: 992px) {
          font-size: 18px;
          line-height: 21px;
          order: 1;
          margin-top: 15px;
        }
      }

      img {
        height: 3.393vw;

        @media screen and(max-width: 992px) {
          height: auto;
        }
      }
    }
  }

  .cat-section {
    padding: 80px 0 160px;

    @media screen and(max-width: 992px) {
      padding: 25px 0 50px;
    }

    .container {
      padding-right: 0;
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0;
      }

      @media screen and(max-width: 992px) {
        overflow: hidden;
      }
    }

    .section-content {
      display: flex;
      align-items: center;
      width: 100%;

      @media screen and(max-width: 992px) {
        flex-direction: column;
      }
    }

    .content-text {
      max-width: 580px;
      flex-shrink: 0;
      margin-right: 60px;

      @media screen and(max-width: 992px) {
        margin-right: 0;
      }
    }

    .section-title {
      text-align: left;
      margin-bottom: 30px;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
      }
    }

    .default-subtitle {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 27px;

      @media screen and(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 15px;
      }
    }

    .default-desc {
      font-size: 18px;
      line-height: 32px;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
      }
    }

    .slides {
      display: flex;

      @media screen and(max-width: 992px) {
        overflow: scroll;

        width: calc(100% + 40px);
        padding: 0 20px;
      }
    }

    img {
      margin-right: 60px;
      width: 22.857vw;
      height: auto;
      
      @media screen and(max-width: 992px) {
        margin-right: 20px;
        width: 60vw;
        height: auto;
      }

      &:last-child {
        margin-right: 0;

        @media screen and(max-width: 992px) {
          margin-right: 20px;
        }
      }
    }
  }

}