#rakhim-page {
  padding-top: 9.524vw;

  @media screen and(max-width: 993px) {
    padding-top: 82px;
  }

  .main-section {
    padding-bottom: 7.143vw;

    @media screen and(max-width: 992px) {
      padding-bottom: 25px;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2.381vw;

      @media screen and(max-width: 992px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: unset;
      }
    }

    .section-content {
      max-width: 32.738vw;
      @media screen and(max-width: 992px) {
        margin-bottom: 30px;
        max-width: 100%;
      }
    }

    .default-title {
      margin-bottom: 2.381vw;
      font-size: 4.762vw;
      line-height: 5vw;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .default-subtitle {
      font-size: 1.429vw;
      line-height: 1.607vw;
      margin-bottom: 2.381vw;
      display: flex;
      flex-direction: column;

      @media screen and(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px;
      }

      span {
        &:first-child {
          margin-bottom: 1.190vw;
          @media screen and(max-width: 992px) {
            margin-bottom: 10px;
          }
        }
      }
    }

    .default-desc {
      font-size: 1.071vw;
      line-height: 1.905vw;
      max-width: 31.071vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
      }
    }

    .section-img {
      display: flex;
      justify-content: flex-end;

      @media screen and(max-width: 992px) {
        margin-bottom: 50px;
      }

      img {
        width: 100%;
        max-width: 35.714vw;
        max-height: 35.714vw;
        object-fit: contain;

        @media screen and(max-width: 992px) {
          max-width: unset;
          max-height: unset;
        }
      }
    }

    .section-statistic {
      grid-column: 1/-1;

      .default-subtitle {
        margin-bottom: 1.488vw;
        color: #fff;

        @media screen and(max-width: 992px) {
          font-size: 32px;
          line-height: 37px;
          font-family: $boldFont;
          margin-bottom: 15px;
        }
      }
    }

    .statistic-container {
      display: flex;
      align-items: baseline;
      width: 100%;

      @media screen and(max-width: 992px) {
        overflow: scroll;
        padding: 0 20px;
        margin: 0 -20px;
        width: calc(100% + 40px);
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;
      margin-right: 5.952vw;

      @media screen and(max-width: 992px) {
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0;
      }

      span {
        &:first-child {
          font-size: 3.810vw;
          line-height: 4.345vw;
          letter-spacing: -0.02em;
          color: $yellow;
          margin-bottom: 0.714vw;
          font-family: $boldFont;

          @media screen and(max-width: 992px) {
            font-size: 48px;
            line-height: 55px;
            margin-bottom: 3px;
            white-space: nowrap;
          }
        }

        &:last-child {
          font-size: 1.190vw;
          line-height: 1.369vw;
          color: #fff;

          @media screen and(max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .songs-section {
    padding-bottom: 80px;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .section-title {
      margin-bottom: 50px;

      @media screen and(max-width: 992px) {
        margin-bottom: 20px;
      }
    }

    .songs-slider {
      cursor: url("/images/icons/drag.svg"), pointer;
    }

    .songs-container {
      display: flex;

      @media screen and(max-width: 992px) {
        width: calc(100% + 40px);
        margin: 0 -20px;
        padding: 0 20px;
        overflow: scroll;
      }
    }

    .song {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 420px;
      margin-right: 60px;
      pointer-events: none;

      @media screen and(max-width: 992px) {
        width: 61.333vw;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        height: 420px;
        width: 420px;
        object-fit: cover;
        margin-bottom: 30px;
        display: block;

        @media screen and(max-width: 992px) {
          width: 61.333vw;
          height: 61.333vw;
          margin-bottom: 15px;
        }
      }

      span {
        font-family: $boldFont;
        color: #fff;
        font-size: 24px;
        line-height: 27px;

        @media screen and(max-width: 992px) {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }

  .clips-section {
    padding-bottom: 60px;

    @media screen and(max-width: 992px) {
      padding: 25px 0 31.5px;
    }

    .section-title {
      margin-bottom: 50px;

      @media screen and(max-width: 992px) {
        margin-bottom: 20px;
      }
    }

    .clips {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 60px;
      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
      }
    }

    .clip {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 177px;
        object-fit: cover;
        margin-bottom: 20px;

        @media screen and(max-width: 992px) {
          max-height: 190px;
          height: auto;
          margin-bottom: 15px;
        }
      }

      span {
        font-family: $boldFont;
        color: #fff;
        font-size: 24px;
        line-height: 27px;

        @media screen and(max-width: 992px) {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }

  .community-section {
    padding: 4.762vw 0;

    @media screen and(max-width: 992px) {
      padding: 31.5px 0 25px;
    }

    .container {
      position: relative;

      @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
      }
    }

    .section-img {
      width: 49.167vw;

      @media screen and(max-width: 992px) {
        width: 100%;
        order: 1;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    .section-content {
      position: absolute;
      top: 0;
      right: 12.024vw;
      max-width: 34.524vw;

      @media screen and(max-width: 992px) {
        position: static;
        margin-bottom: 30px;
        max-width: 100%;
      }
    }

    .section-title {
      margin-bottom: 1.786vw;
      text-align: left;
      font-size: 2.857vw;
      line-height: 3.274vw;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .default-desc {
      font-size: 1.071vw;
      line-height: 1.905vw;
      margin-bottom: 1.786vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }

    .section-title, .default-desc {
      color: #fff;
    }

    .statistic {
      display: flex;
      align-items: center;

      @media screen and(max-width: 992px) {
        justify-content: space-between;
      }

      span {
        font-size: 1.310vw;
        line-height: 1.488vw;
        color: #fff;
        font-family: $boldFont;
        margin-right: 1.786vw;

        @media screen and(max-width: 992px) {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }

  .fendi-section {
    padding: 4.762vw 0;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.190vw;

      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
        grid-column-gap: unset;
      }
    }

    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 38.095vw;

      @media screen and(max-width: 992px) {
        max-width: 100%;
      }
    }

    .section-title {
      margin-bottom: 1.786vw;
      font-size: 2.857vw;
      line-height: 3.274vw;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .default-desc {
      font-size: 1.071vw;
      line-height: 1.905vw;
      max-width: 34.524vw;
      margin-bottom: 2.381vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        max-width: 100%;
      }
    }

    .statistic-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2.381vw;

      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
        margin-bottom: 30px;
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-family: $boldFont;
          font-size: 2.857vw;
          line-height: 3.274vw;
          letter-spacing: -0.02em;
          color: $yellow;
          margin-bottom: 0.893vw;

          @media screen and(max-width: 992px) {
            font-size: 48px;
            line-height: 55px;
            margin-bottom: 4px;
          }
        }

        &:last-child {
          font-size: 1.071vw;
          line-height: 1.250vw;
          color: #fff;

          @media screen and(max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

    .section-img {
      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .lambo-section {
    padding: 4.762vw 0;

    @media screen and(max-width: 992px) {
      padding: 25px 0;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;

      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
      }
    }

    .section-img {
      @media screen and(max-width: 992px) {
        order: 1;
      }

      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 80px;

      @media screen and(max-width: 992px) {
        padding-left: 0;
      }
    }

    .section-title {
      margin-bottom: 1.786vw;
      font-size: 2.857vw;
      line-height: 3.274vw;

      @media screen and(max-width: 992px) {
        margin-bottom: 15px;
        font-size: 32px;
        line-height: 37px;
      }
    }

    .default-desc {
      font-size: 1.071vw;
      line-height: 1.905vw;
      max-width: 34.524vw;
      margin-bottom: 2.381vw;

      @media screen and(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        max-width: 100%;
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;
      
      @media screen and(max-width: 992px) {
        margin-bottom: 30px;
      }

      span {
        &:first-child {
          font-family: $boldFont;
          font-size: 2.857vw;
          line-height: 3.274vw;
          letter-spacing: -0.02em;
          color: $yellow;
          margin-bottom: 0.893vw;

          @media screen and(max-width: 992px) {
            font-size: 48px;
            line-height: 55px;
            margin-bottom: 4px;
          }
        }

        &:last-child {
          font-size: 1.071vw;
          line-height: 1.250vw;
          color: #fff;

          @media screen and(max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

  }

  .screenshots-section {
    padding: 80px 0 160px;

    @media screen and(max-width: 992px) {
      padding: 25px 0 50px;
    }

    .section-title {
      margin-bottom: 60px;
      text-align: center;

      @media screen and(max-width: 992px) {
        margin-bottom: 30px;
        word-break: break-all;
      }
    }

    .screenshots-wrapper {
      display: flex;

      @media screen and(max-width: 992px) {
        flex-direction: column;
      }
    }

    .screenshots {
      display: flex;
      flex-direction: column;
      flex-basis: 33%;
      margin-right: 35px;

      @media screen and(max-width: 992px) {
        flex-basis: unset;
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .screenshot {
      margin-bottom: 35px;

      @media screen and(max-width: 992px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}