#service-page {
  padding-top: 9.524vw;

  @media screen and(max-width: 992px) {
    padding-top: 90px;
  }

  .main-section {
    .container {
      display: flex;
      flex-direction: column;
    }

    .default-title {
      font-size: 4.762vw;
      line-height: 5vw;

      @media screen and(max-width: 992px) {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 20px;
      }
    }

    .default-desc {
      font-size: 0.952vw;
      line-height: 1.667vw;
      max-width: 41.667vw;

      @media screen and(max-width: 992px) {
        font-size: 12px;
        line-height: 18px;
        max-width: 100%;
      }
    }

    .section-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-column-gap: 3.571vw;
      
      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
        grid-column-gap: 0;
      }
    }

    .section-content2 {
      @media screen and(max-width: 992px) {
        .default-desc {
          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }

    .section-img {
      margin: 4.762vw 0 3.571vw;

      @media screen and(max-width: 992px) {
        margin: 0 0 30px;
      }
      img {
        width: 100%;
      }
    }
  }

  .getting-section {
    padding-top: 4.762vw;
    
    @media screen and(max-width: 992px) {
      padding-top: 0;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-column-gap: 3.571vw;

      @media screen and(max-width: 992px) {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
      }
    }

    .section-img {
      @media screen and(max-width: 992px) {
        margin-bottom: 30px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .section-title {
      margin-bottom: 2.976vw;
      font-size: 2.857vw;
      line-height: 3.274vw;

      @media screen and(max-width: 992px) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }

    .btn-wb {
      margin-bottom: 1.786vw;
      font-size: 1.190vw;
      line-height: 1.369vw;

      img, svg {
        height: 0.714vw;
      }

      @media screen and(max-width: 992px) {
        margin-bottom: 15.95px;
        font-size: 14px;
        line-height: 16px;

        img, svg {
          height: 10px;
          position: relative;
          top: 1.5px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .cases-section {
    padding: 5.952vw 0 4.762vw;

    @media screen and(max-width: 992px) {
      padding: 41px 0 30px;
    }

    .section-title {
      margin-bottom: 2.381vw;
      font-size: 2.857vw;
      line-height: 3.274vw;

      @media screen and(max-width: 992px) {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 20px;
      }
    }

    .cases-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 3.571vw;
      
      @media screen and(max-width: 992px) {
        display: flex;
        grid-column-gap: 0;
        overflow: scroll;
        margin-left: -20px;
        width: calc(100% + 40px);
        padding-left: 20px;
      }
    }

    .case {
      width: 25.490vw;

      @media screen and(max-width: 992px) {
        width: auto;
        max-width: 84vw;
        margin-right: 20px;
      }

      img {
        width: 25.490vw;
        height: 25.490vw;
        object-fit: cover;
        margin-bottom: 1.905vw;

        @media screen and(max-width: 992px) {
          width: 84vw;
          height: 84vw;
          margin-bottom: 12px;
        }
      }

      .default-subtitle {
        font-size: 0.952vw;
        line-height: 1.071vw;
        
        @media screen and(max-width: 992px) {
          font-size: 16px;
          line-height: 18px;
        }
      }

      .default-title {
        margin-bottom: 0.595vw;
        font-size: 1.905vw;
        line-height: 2.262vw;
        
        @media screen and(max-width: 992px) {
          margin-bottom: 6px;
          font-size: 18px;
          line-height: 21px;
        }
      }

      .default-desc {
        font-size: 0.833vw;
        line-height: 1.429vw;

        @media screen and(max-width: 992px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}