#services-page {
  padding-top: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;

  @media screen and(max-width: 993px) {
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    height: 100vh;
  }

  .container {
    max-width: 100%;
  }

  .default-title {
    margin-bottom: 4.5vh;
    font-size: 4.762vw;
    line-height: 5vw;

    @media screen and(max-width: 992px) {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 20px;
    }
  }

  .services-container {
    display: inline-flex;

    @media screen and(max-width: 992px) {
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 0 20px;
      overflow: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .service {
    width: 39.286vw;
    margin-right: 4.762vw;
    overflow: hidden;

    @media screen and(max-width: 992px) {
      width: 84vw;
      margin-right: 20px;
      overflow: unset;
    }

    @media screen and(min-width: 1200px) and(min-height: 600px){
      width: 36vw;
    }

    @media screen and(min-width: 1280px) and(min-height: 700px){
      width: 42vw;
    }

    @media screen and(min-width: 1280px) and(min-height: 750px){
      width: 44vw;
    }

    @media screen and(min-width: 1280px) and(min-height: 850px){
      width: 53vw;
    }

    @media screen and(min-width: 1440px) and(min-height: 850px){
     width: 46vw;
    }

    @media screen and(min-width: 1400px) and(min-height: 1080px) {
      width: 52vw;
    }

    @media screen and(min-width: 1536px) and(min-height: 960px) {
      width: 52vw;
    }

    @media screen and(min-width: 1600px) and(min-height: 900px) {
      width: 39vw;
    }

    @media screen and(min-width: 1600px) and(max-height: 960px){
      width: 44vw;
    }

    @media screen and(min-width: 1680px) and(min-height: 1024px){
      width: 50vw;
    }

    @media screen and(min-width: 1680px) and(min-height: 1080px){
      width: 52vw;
    }

    @media screen and(min-width: 1920px) and(min-height: 1080px){
      width: 44vw;
    }

    @media screen and(min-width: 1920px) and(min-height: 1200px){
      width: 51vw;
    }

    @media screen and(min-width: 2048px) and(min-height: 1024px){
      width: 37vw;
    }

    @media screen and(min-width: 2048px) and(min-height: 1200px){
      width: 42vw;
    }

    @media screen and(min-width: 2048px) and(min-height: 1350px){
      width: 60vw;
    }

    img {
      width: 100%;
      margin-bottom: 2.4vh;

      @media screen and(max-width: 992px) {
        width: 84vw;
        height: 84vw;
        margin-bottom: 15px;
        object-fit: cover;
      }

      @media screen and(min-width: 1200px) and(min-height: 600px){
        width: auto;
        height: 57vh;
      }

      @media screen and(min-width: 1280px) and(min-height: 700px){
        height: 60vh;
      }

      @media screen and(min-width: 1280px) and(min-height: 750px){
        height: 59vh;
      }

      @media screen and(min-width: 1280px) and(min-height: 850px){
        height: 62vh;
      }

      @media screen and(min-width: 1440px) and(min-height: 850px){
        height: 61vh;
      }

      @media screen and(min-width: 1400px) and(min-height: 1080px) {
        height: 49vh;
      }

      @media screen and(min-width: 1536px) and(min-height: 960px) {
        height: 62vh;
      }

      @media screen and(min-width: 1600px) and(min-height: 900px) {
        height: 61vh;
      }

      @media screen and(min-width: 1600px) and(min-height: 960px){
        height: 51vh;
      }

      @media screen and(min-width: 1680px) and(min-height: 1024px){
        height: 64vh;
      }

      @media screen and(min-width: 1680px) and(min-height: 1080px){
        height: 62vh;
      }

      @media screen and(min-width: 1920px) and(min-height: 1080px){
        height: 61vh;
      }

      @media screen and(min-width: 1920px) and(min-height: 1200px){
        height: 63vh;
      }

      @media screen and(min-width: 2048px) and(min-height: 1350px){
        height: 59vh;
      }

    }

    &:last-child {
      margin-right: 0;
    }

    .default-title {
      font-size: 1.905vw;
      line-height: 2.262vw;
      letter-spacing: -0.02em;
      margin-bottom: 0.714vw;
      display: block;
      
      @media screen and(max-width: 992px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 6px;
      }
    }

    .default-desc {
      font-size: 0.833vw;
      line-height: 1.429vw;
      max-width: 25vw;

      @media screen and(max-width: 992px) {
        font-size: 12px;
        line-height: 18px;
        max-width: 100%;
      }
    }
  }
}