@keyframes clipRight {
  0% {
    clip-path: inset(0 100% 0 0);
    -webkit-clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}

@keyframes clipBottom {
  0% {
    clip-path: inset(0 0 100% 0);
    -webkit-clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}

@keyframes clipTop {
  0% {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}

@keyframes bottomMask {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fromOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-aos="bottomMask"] {
  transform: translateY(100%);
  &.aos-animate {
    transform: translateY(0);
  }
}

[data-aos="bottomText"] {
  opacity: 0;
  transform: translateY(40px);

  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-aos="bottomText2"] {
  opacity: 0;
  transform: translateY(20px);

  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-aos="clipRight"] {
  clip-path: inset(0 100% 0 0);
  -webkit-clip-path: inset(0 100% 0 0);

  &.aos-animate {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}