*, *:focus {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

a, a:hover {
  text-decoration: unset;
  color: white;
  display: block;
}

button {
  background: unset;
  cursor: pointer;
}

body {
  background-color: $black;
  font-family: $mainFont;
  padding-left: 11.36vh;
  min-height: 100vh;

  @media screen and(max-width: 992px) {
    padding-left: 0;

    .menu-opened {
      body {
        overflow: hidden;
        height: 100vh;
      }
    }
  }
}

.default-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border: 2px solid $yellow;
  border-radius: 117px;
  transition: background-color .2s ease-in;

  @media screen and(max-width: 992px) {
    height: 40px;
  }

  &:hover {
    @media screen and(min-width: 993px) {
      background-color: $yellow;
      display: flex;

      span {
        color: $black;
      }

      svg {
        path {
          fill: $black;
        }
      }
    }
  }

  span {
    color: $yellow;
    transition: color .2s ease-in;
    font-size: 18px;
    line-height: 21px;
    margin-right: 9px;
    @media screen and(max-width: 992px) {
      font-size: 14px;
      line-height: 16px;
      margin-right: 3px;
    }
  }

  img, svg {
    transform: rotate(90deg);
    height: 13.97px;

    @media screen and(max-width: 992px) {
      height: 10px;
    }
  }

  svg {
    path {
      transition: all .2s ease-in;
    }
  }

  &.black {
    background-color: $black;
    border-color: $black;

    @media screen and(min-width: 993px) {
      &:hover {
        background-color: unset;
      }
    }
  }
}

.default-input {
  padding: 0 24px;
  height: 56px;
  border: 2px solid #212121;
  box-sizing: border-box;
  border-radius: 117px;
  width: 100%;
  background-color: unset;
  color: $black;
  font-size: 18px;
  line-height: 21px;

  @media screen and(max-width: 992px) {
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 16px;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 21px;
    color: $black;
    opacity: .5;

    @media screen and(max-width: 992px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &.error {
    border-color: $red !important;
  }

  & + .error-hint {
    color: $red;
    text-align: center;
    font-size: 0.833vw;
    line-height: 0.952vw;
    margin-top: 0.214vw;

    @media screen and(max-width: 992px) {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 12px;
    }
  }

  &.white {
    border-color: #fff;
    color: #fff;

    &::placeholder {
      color: #898989;
    }
  }
}

.default-title {
  font-size: 80px;
  line-height: 84px;
  letter-spacing: -0.02em;
  color: #fff;
  font-family: $boldFont;
  overflow: hidden;

  .default-title-container {
    overflow: hidden;
  }

  span {
    display: block;
  }

  @media screen and(max-width: 992px) {
    font-size: 32px;
    line-height: 37px;
  }
}

.default-subtitle {
  font-size: 16px;
  line-height: 18px;
  color: $yellow;
  margin-bottom: 10px;

  @media screen and(max-width: 992px) {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
  }
}

.default-desc {
  font-size: 14px;
  line-height: 24px;
  color: #fff;

  @media screen and(max-width: 992px) {
    line-height: 20px;
  }
}

.container {
  max-width: 2080px;
  padding: 0 4.762vw;
  margin: 0 auto;

  @media screen and(max-width: 992px) {
    padding: 0 20px;
  }
}

.header-logo {
  position: absolute;
  top: 20px;
  left: 80px;
  z-index: 20;
  animation: fromOpacity 1s $cubic both;

  @media screen and(max-width: 992px){
    display: none;
  }

  @media screen and(min-width: 993px) {
    height: 4.762vw;
    top: 1.190vw;
    padding-left: 4.762vw;
    left: 0;
    img {
      height: 100%;
    }
  }
}

.btn-wb {
  color: $yellow;
  font-size: 20px;
  line-height: 23px;
  position: relative;
  width: fit-content;

  &:before {
    width: 0;
    content: '';
    height: 2px;
    background-color: $yellow;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width .6s $cubic;
  }

  &:hover {
    color: $yellow;
    &:before {
      width: 100%;
    }
  }

  span {
    margin-right: 5px;
  }

  svg, img {
    transform: rotate(90deg);
  }

  &.white {
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }

    &:before {
      background-color: #fff;
    }
  }
}

.next-case {
  padding: 80px 0;
  display: flex;
  justify-content: center;

  @media screen and(max-width: 992px) {
    padding: 30px 0;
  }

  a {
    font-family: $boldFont;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.02em;
    transition: color .3s $cubic;
    color: $yellow;
    display: block;

    @media screen and(max-width: 992px) {
      font-size: 24px;
      line-height: 27px;
    }

    &:hover {
      @media screen and(min-width: 993px) {
        color: $yellowHover;
      }
    }
  }
}

.section-title {
  font-size: 48px;
  line-height: 55px;
  font-family: $boldFont;
  color: #fff;
  overflow: hidden;

  span {
    display: block;
  }

  @media screen and(max-width: 992px) {
    font-size: 32px;
    line-height: 37px;
  }
}

img {
  display: block;
}

main {
  position: relative;
  overflow: hidden;
  padding-top: 160px;

  @media screen and(max-width: 992px) {
    padding-top: 82px;
  }
}

a {
  &.case, &.service {
    &:hover {
      cursor: url("/images/icons/go-to.svg"), pointer;

      .default-title {
        color: $yellow;
        transition: color .3s $cubic;
      }
    }
  }
}
