@font-face {
  font-family: 'GT Walsheim Pro Bold';
  src: local('GT Walsheim Pro Bold'), local('GT-Walsheim-Pro-Bold'),
  url('/fonts/GTWalsheimPro-Bold.woff2') format('woff2'),
  url('/fonts/GTWalsheimPro-Bold.woff') format('woff'),
  url('/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Regular'), local('GT-Walsheim-Pro-Regular'),
  url('/fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
  url('/fonts/GTWalsheimPro-Regular.woff') format('woff'),
  url('/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}