extends includes/layout

append main
    main#clients-page
        .container
            .default-title.clients-page-title
                span(data-aos="bottomMask") Артисты
                span(data-aos="bottomMask") с которыми мы работали
            #clients-page-slider.clients
                .clients-container
                    .client
                        img(src="/images/clients/Rakhim.jpg" alt="Rakhim"
                        data-aos="clipRight" data-aos-delay="100")
                        .default-title(data-aos="bottomText" data-aos-delay="200") Rakhim
                        .client-links(data-aos="bottomText" data-aos-delay="300")
                            a(href="https://www.instagram.com/rahimabramov/" target="_blank") Instagram
                            a(href="https://vk.com/rakhimabramov" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/lj.jpg" alt="Элджей"
                            data-aos="clipRight" data-aos-delay="200")
                        .default-title(data-aos="bottomText" data-aos-delay="300") Элджей
                        .client-links(data-aos="bottomText" data-aos-delay="400")
                            a(href="https://www.instagram.com/sayonaraboy/" target="_blank") Instagram
                            a(href="https://vk.com/sayonaraboy" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/Andy Panda.jpg" alt="Andy Panda"
                            data-aos="clipRight" data-aos-delay="300")
                        .default-title(data-aos="bottomText" data-aos-delay="400") Andy Panda
                        .client-links(data-aos="bottomText" data-aos-delay="500")
                            a(href="https://www.instagram.com/endspiel_andy_panda/" target="_blank") Instagram
                            a(href="https://vk.com/endspiel_group" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ELMAN.jpg" alt="ELMAN")
                        .default-title ELMAN
                        .client-links
                            a(href="https://www.instagram.com/el_man_official/" target="_blank") Instagram
                            a(href="https://vk.com/elman" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/Andro.jpeg" alt="Andro")
                        .default-title Andro
                        .client-links
                            a(href="https://www.instagram.com/andro.dragon/" target="_blank") Instagram
                            a(href="https://vk.com/andro.dragon" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/The Limba.jpeg" alt="The Limba")
                        .default-title The Limba
                        .client-links
                            a(href="https://www.instagram.com/thelimba/" target="_blank") Instagram
                            a(href="https://vk.com/thelimba" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ДинаСаева.jpg" alt="Дина Саева")
                        .default-title Дина Саева
                        .client-links
                            a(href="https://www.instagram.com/senoritasaeva/" target="_blank") Instagram
                            a(href="https://vk.com/senoritasaeva" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/Gafur.jpg" alt="Gafur")
                        .default-title Gafur
                        .client-links
                            a(href="https://www.instagram.com/gafur.lv/" target="_blank") Instagram
                            a(href="https://vk.com/gafur_lv" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/Fadeev.jpeg" alt="Максим Фадеев")
                        .default-title Максим Фадеев
                        .client-links
                            a(href="https://www.instagram.com/fadeevmaxim/" target="_blank") Instagram
                            a(href="https://vk.com/maximfadeev" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/MOLLY.jpg" alt="MOLLY")
                        .default-title MOLLY
                        .client-links
                            a(href="https://www.instagram.com/seryabkina/" target="_blank") Instagram
                            a(href="https://vk.com/seryabkina" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/Кисло-Сладкий&Bonah.jpg" alt="Кисло-Сладкий & Bonah")
                        .default-title Кисло-Сладкий & Bonah
                        .client-links
                            a(href="https://www.instagram.com/sweetchili999/" target="_blank") Instagram
                            a(href="https://vk.com/sweetchilixbonah" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/STRANIZA.jpeg" alt="STRANIZA")
                        .default-title STRANIZA
                        .client-links
                            a(href="https://www.instagram.com/ksu_chum/" target="_blank") Instagram
                            a(href="https://vk.com/stran1za" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/SEREBRO.jpeg" alt="Серебро")
                        .default-title Серебро
                        .client-links
                            a(href="https://vk.com/serebro" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ОльгаБузова.jpeg" alt="Ольга Бузова")
                        .default-title Ольга Бузова
                        .client-links
                            a(href="https://www.instagram.com/buzova86/" target="_blank") Instagram
                            a(href="https://vk.com/buzovaofficial" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/DAVA.jpg" alt="DAVA")
                        .default-title DAVA
                        .client-links
                            a(href="https://www.instagram.com/dava_m/" target="_blank") Instagram
                            a(href="https://vk.com/dava" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/RODIONIS.jpeg" alt="RODIONIS")
                        .default-title RODIONIS
                        .client-links
                            a(href="https://www.instagram.com/rodionisrodionisrodionis/" target="_blank") Instagram
                            a(href="https://vk.com/rodionisone" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/GaryGrey.jpg" alt="Gary Grey")
                        .default-title Gary Grey
                        .client-links
                            a(href="https://www.instagram.com/artistgary/" target="_blank") Instagram
                            a(href="https://vk.com/gary_grey" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/SmokeBushxqurt.jpeg" alt="Smoke Bush x qurt")
                        .default-title Smoke Bush x qurt
                        .client-links
                            a(href="https://www.instagram.com/_smokebush_/" target="_blank") Instagram
                            a(href="https://vk.com/smokebush" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ITON.jpeg" alt="ITON")
                        .default-title ITON
                        .client-links
                            a(href="https://www.instagram.com/tonigaivoronsky/" target="_blank") Instagram
                            a(href="https://vk.com/iton" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/OWEEK.jpeg" alt="OWEEK")
                        .default-title OWEEK
                        .client-links
                            a(href="https://www.instagram.com/oweek_/" target="_blank") Instagram
                            a(href="https://vk.com/oweekof" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/МариСенн.jpeg" alt="Мари Сенн")
                        .default-title Мари Сенн
                        .client-links
                            a(href="https://www.instagram.com/marysenn/" target="_blank") Instagram
                            a(href="https://vk.com/marysennofficial" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/АнфисаИбадова.jpeg" alt="Анфиса Ибадова")
                        .default-title Анфиса Ибадова
                        .client-links
                            a(href="https://www.instagram.com/anfisaibadova/" target="_blank") Instagram
                            a(href="https://vk.com/ibadovaan" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/Qontrast.jpeg" alt="Qontrast")
                        .default-title Qontrast
                        .client-links
                            a(href="https://www.instagram.com/bahaqontrast/" target="_blank") Instagram
                            a(href="https://vk.com/qontrast" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ИринаКайратовна.jpeg" alt="Ирина Кайратовна")
                        .default-title Ирина Кайратовна
                        .client-links
                            a(href="https://www.instagram.com/irinakairatovna/" target="_blank") Instagram
                            a(href="https://vk.com/irinakairatovna" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/NKI.jpeg" alt="NKI")
                        .default-title NKI
                        .client-links
                            a(href="https://www.instagram.com/the.nki/" target="_blank") Instagram
                            a(href="https://vk.com/thenki1" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/TIM.jpg" alt="TIM")
                        .default-title TIM
                        .client-links
                            a(href="https://www.instagram.com/timursorokin/" target="_blank") Instagram
                            a(href="https://vk.com/tim_music" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/EvaMiller.jpg" alt="Eva Miller")
                        .default-title Eva Miller
                        .client-links
                            a(href="https://www.instagram.com/miller.ev/" target="_blank") Instagram
                            a(href="https://vk.com/millerevaoff" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/NARGIZ.jpeg" alt="NARGIZ")
                        .default-title NARGIZ
                        .client-links
                            a(href="https://www.instagram.com/nargizzakirova_official/" target="_blank") Instagram
                            a(href="https://vk.com/nargizzakirovaofficialgroup" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ОлегМайами.jpeg" alt="Олег Майами")
                        .default-title Олег Майами
                        .client-links
                            a(href="https://www.instagram.com/miamioleg_official/" target="_blank") Instagram
                            a(href="https://vk.com/miami.team" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ALEX&RUS.jpeg" alt="ALEX & RUS")
                        .default-title ALEX & RUS
                        .client-links
                            a(href="https://www.instagram.com/alex_rus_official/" target="_blank") Instagram
                            a(href="https://vk.com/alexrusofficial" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/КристинаКошелева.jpeg" alt="Кристина Кошелева")
                        .default-title Кристина Кошелева
                        .client-links
                            a(href="https://www.instagram.com/kosheleva.aveleshok/" target="_blank") Instagram
                            a(href="https://vk.com/kristinakoshelevaofficial" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ХАБИБ.jpg" alt="ХАБИБ")
                        .default-title ХАБИБ
                        .client-links
                            a(href="https://www.instagram.com/xabibkaa/" target="_blank") Instagram
                            a(href="https://vk.com/xabibkaa" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/VladHosh.jpeg" alt="Vlad Hosh")
                        .default-title Vlad Hosh
                        .client-links
                            a(href="https://www.instagram.com/vlad_hosh/" target="_blank") Instagram
                            a(href="https://vk.com/hosh_official" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/NOLA.jpg" alt="NOLA")
                        .default-title NOLA
                        .client-links
                            a(href="https://www.instagram.com/_nolamor/" target="_blank") Instagram
                            a(href="https://vk.com/tvoya_nola" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/TLK.jpeg" alt="TLK")
                        .default-title TLK
                        .client-links
                            a(href="https://www.instagram.com/tlkinngg/" target="_blank") Instagram
                            a(href="https://vk.com/tlkinngg" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ALISHA.jpeg" alt="ALISHA")
                        .default-title ALISHA
                        .client-links
                            a(href="https://www.instagram.com/aalisshass/" target="_blank") Instagram
                            a(href="https://vk.com/aaaalishas" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/VladKai.jpeg" alt="Vlad Kai")
                        .default-title Vlad Kai
                        .client-links
                            a(href="https://www.instagram.com/vladkai/" target="_blank") Instagram
                            a(href="https://vk.com/vladfuckingkaii" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/BADBARBIE.jpeg" alt="BAD BARBIE")
                        .default-title BAD BARBIE
                        .client-links
                            a(href="https://www.instagram.com/badbaarbie/" target="_blank") Instagram
                            a(href="https://vk.com/badbarbieeeeeee" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/BEEMBI.jpeg" alt="BEEMBI")
                        .default-title BEEMBI
                        .client-links
                            a(href="https://www.instagram.com/beembi__/" target="_blank") Instagram
                            a(href="https://vk.com/nikitabeembi" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/KristiKrime.jpeg" alt="Kristi Krime")
                        .default-title Kristi Krime
                        .client-links
                            a(href="https://www.instagram.com/kristi.krime/" target="_blank") Instagram
                            a(href="https://vk.com/krimekristi" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/IlyaBlanko.jpeg" alt="Ilya Blanko")
                        .default-title Ilya Blanko
                        .client-links
                            a(href="https://www.instagram.com/ilya_blanko/" target="_blank") Instagram
                            a(href="https://vk.com/blankomusic" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ЭлинаЧага.jpeg" alt="Элина Чага")
                        .default-title Элина Чага
                        .client-links
                            a(href="https://www.instagram.com/elinachaga/" target="_blank") Instagram
                            a(href="https://vk.com/elinachagaofficial" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/AndySorry.jpg" alt="Andy Sorry")
                        .default-title Andy Sorry
                        .client-links
                            a(href="https://www.instagram.com/andreyraay/" target="_blank") Instagram
                            a(href="https://vk.com/public202414298" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/IVANITSKAYA.jpeg" alt="IVANITSKAYA")
                        .default-title IVANITSKAYA
                        .client-links
                            a(href="https://www.instagram.com/diana_dinama/" target="_blank") Instagram
                            a(href="https://vk.com/divanitskaya" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ORXAN.jpg" alt="ORXAN")
                        .default-title ORXAN
                        .client-links
                            a(href="https://www.instagram.com/babaev.orxan/" target="_blank") Instagram
                            a(href="https://vk.com/orxan.official" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ЕвгенияМайер.jpeg" alt="Евгения Майер")
                        .default-title Евгения Майер
                        .client-links
                            a(href="https://www.instagram.com/evgeniya_mayer/" target="_blank") Instagram
                            a(href="https://vk.com/mayer_malfa" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/TrevLi.jpeg" alt="Trev Li")
                        .default-title Trev Li
                        .client-links
                            a(href="https://www.instagram.com/trev.li/" target="_blank") Instagram
                            a(href="https://vk.com/trevlimusic" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/IKA.jpeg" alt="IKA")
                        .default-title IKA
                        .client-links
                            a(href="https://www.instagram.com/i.am.i.k.a/" target="_blank") Instagram
                            a(href="https://vk.com/official_ika" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/appledream.jpeg" alt="appledream")
                        .default-title appledream
                        .client-links
                            a(href="https://www.instagram.com/lewdfantazy/" target="_blank") Instagram
                            a(href="https://vk.com/appledream" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/TEREZA.jpeg" alt="TEREZA")
                        .default-title TEREZA
                        .client-links
                            a(href="https://www.instagram.com/terezadiouro/" target="_blank") Instagram
                            a(href="https://vk.com/terezadiouro" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ИСАЙЯ.jpeg" alt="ИСАЙЯ")
                        .default-title ИСАЙЯ
                        .client-links
                            a(href="https://www.instagram.com/isaya_official/" target="_blank") Instagram
                            a(href="https://vk.com/isaya_official" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/KAMI.jpeg" alt="KAMI")
                        .default-title KAMI
                        .client-links
                            a(href="https://vk.com/kami_xxo" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/ЕВА.jpg" alt="ЕВА")
                        .default-title ЕВА
                        .client-links
                            a(href="https://vk.com/evaofficial" target="_blank") ВКонтакте
                    .client
                        img(src="/images/clients/Manchzz.jpg" alt="Manchzz")
                        .default-title Manchzz
                        .client-links
                            a(href="https://vk.com/manchzz" target="_blank") ВКонтакте
                    .client
                        img(src="/images/logo_v2.svg" alt="Soul")
                        .default-title и многие другие
                        .client-links
                            a(href="https://vk.com/soul_digital" target="_blank") смотрите в наших социальных сетях