extends includes/layout

append main
    main#business-page
        .container
            a(href="/").header-logo
                img(src="/images/logo.svg" alt="logo")
            .default-title Клиенты
            #business-clients-slider
                .business-clients-container
                    .business-client
                        img(src="")