extends includes/layout

append main
    main#cases-page
        .container
            .default-title
                span Кейсы
            .cases-tabs
                .tab.active Все
                .tab Продвижение лейбла
                .tab Продвижение артиста
                .tab Продвижение релиза
        #cases-page-slider.cases
            .cases-container
                a.case(href="/rakhim.html" data-type="Продвижение артиста")
                    img(src="/images/cases/1.jpeg" alt="Rakhim")
                    .default-subtitle Продвижение артиста
                    .default-title Rakhim
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/empty-case.html" data-type="Продвижение лейбла")
                    img(src="/images/cases/2.jpeg" alt="RAAVA MUSIC")
                    .default-subtitle Продвижение лейбла
                    .default-title RAAVA MUSIC
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/empty-case.html" data-type="Продвижение лейбла")
                    img(src="/images/cases/3.jpeg" alt="XO Music")
                    .default-subtitle Продвижение лейбла
                    .default-title XO Music
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/malfa.html" data-type="Продвижение лейбла")
                    img(src="/images/cases/4.jpeg" alt="Malfa")
                    .default-subtitle Продвижение лейбла
                    .default-title MALFA
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/empty-case.html" data-type="Продвижение лейбла")
                    img(src="/images/cases/5.jpeg" alt="Musica 36")
                    .default-subtitle Комплексное продвижение
                    .default-title Musica 36
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/empty-case.html" data-type="Продвижение артиста")
                    img(src="/images/cases/6.jpeg" alt="Dina")
                    .default-subtitle Продвижение артиста
                    .default-title Dina
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/empty-case.html" data-type="Продвижение артиста")
                    img(src="/images/cases/7.jpeg" alt="Кисло-Сладкий & Bonah")
                    .default-subtitle Продвижение артиста
                    .default-title Кисло-Сладкий & Bonah
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/empty-case.html" data-type="Продвижение лейбла")
                    img(src="/images/cases/8.jpeg" alt="Archer Music")
                    .default-subtitle Продвижение лейбла
                    .default-title Archer Music
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                a.case(href="/empty-case.html" data-type="Продвижение релиза")
                    img(src="/images/cases/9.jpeg" alt="Ирина Кайратовна")
                    .default-subtitle Продвижение релиза
                    .default-title Ирина Кайратовна
                    .default-desc Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                .case
                    img(src="/images/logo_v2.svg" alt="Soul logo")
                    .default-title и многие другие
                    a.default-desc(href="https://vk.com/soul_digital" target="_blank")
                        span Смотрите в наших социальных сетях
                        img.svg(src="/images/btn-arrow.svg")
