extends includes/layout

append main
    main#contacts-page
        .container
            a(href="/").header-logo
                img(src="/images/logo.svg" alt="logo")
            button(class="contacts-page-btn btn-wb" data-modal="#mailing-modal")
                span Подписаться на рассылку
                img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
            .contacts-page-content
                form.contacts-form#contacts-form(action="" method="POST" novalidate)
                    .default-title
                        span(data-aos="bottomMask" data-aos-delay="200") Связаться
                    .input-wrap(data-aos="clipRight" data-aos-delay="300")
                        input(type="text" name="name" placeholder="Имя*" class="default-input white" autocomplete="off")
                    .input-wrap(data-aos="clipRight" data-aos-delay="400")
                        input(type="phone" name="phone" placeholder="Телефон*" class="default-input white" autocomplete="off")
                    .input-wrap(data-aos="clipRight" data-aos-delay="500")
                        input(type="email" name="email" placeholder="Почта" class="default-input white" autocomplete="off")
                    .input-wrap(data-aos="clipRight" data-aos-delay="600")
                        input(type="text" name="message" placeholder="Комментарий" class="default-input white" autocomplete="off")
                    .contacts-btn-container(data-aos="clipRight" data-aos-delay="700")
                        button(type="submit" class="default-btn")
                            span Отправить
                            img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
                .contacts-info-wrap
                    .default-title
                        span(data-aos="bottomMask" data-aos-delay="200") Контакты
                    .contacts-social-links
                        a(href="tel: +7 (905) 486 52 43" class="target"
                            data-aos="bottomText2" data-aos-delay="300")
                            img.svg(src="/images/icons/phone.svg" alt="phone")
                            span +7 (905) 486 52 43
                        a(href="mailto: mail@soul-digital.com" class="target" target="_blank"
                            data-aos="bottomText2" data-aos-delay="400")
                            img.svg(src="/images/icons/mail.svg" alt="mail")
                            span mail@soul-digital.com
                        a(href="#" target="_blank" class="target"
                            data-aos="bottomText2" data-aos-delay="500")
                            img.svg(src="/images/icons/vk.svg" alt="vk")
                            span Вконтакте
                        a(href="#" target="_blank" class="target"
                            data-aos="bottomText2" data-aos-delay="600")
                            img.svg(src="/images/icons/facebook.svg" alt="facebook")
                            span Facebook
                        a(href="" target="_blank" class="target"
                            data-aos="bottomText2" data-aos-delay="700")
                            img.svg(src="/images/icons/instagram.svg" alt="phone")
                            span Instagram
                .contacts-info-links
                    a(class="btn-wb white" href="" data-aos="bottomText2" data-aos-delay="800")
                        span Презентация для артиста
                        img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
                    a(class="btn-wb white" href="" data-aos="bottomText2" data-aos-delay="900")
                        span Пример маркетинговой компании
                        img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
                    a(class="btn-wb white" href="" data-aos="bottomText2" data-aos-delay="1000")
                        span Пример отчёта по проделанной работе
                        img(src="/images/btn-arrow.svg" alt="arrow" class="svg")