extends includes/layout

append main
    main#empty-case
        .container
            a.logo(href="/" data-aos="bottomText")
                img(src="/images/logo_v2.svg" alt="logo")
            .default-subtitle(data-aos="bottomText" data-aos-delay="100") Данный кейс совсем скоро будет наполнен актуальной информацией
            a(href="https://vk.com/soul_digital" target="_blank" data-aos="bottomText" data-aos-delay="200").more-link
                span Больше кейсов смотрите в нашей группе ВКонтакте
            .btn-wrapper(data-aos="bottomText" data-aos-delay="300")
                a.default-btn(href="/cases.html")
                    span Смотреть кейсы
                    img.svg(src="/images/btn-arrow.svg")