extends includes/layout

append main
    main#main-page
        .container
            .header-logo
                img(src="/images/logo_v2.svg" alt="logo")
            .main-page-content
                .section-title
                    .container-mask
                        .section-title-mask-container
                            span Делаем музыкантов
                            span Предоставляем
                            span Даём гарантию
                            span Работаем не только
                    .container-mask
                        .section-title-mask-container
                            span и блогеров
                            span широкий спектр услуг
                            span на свою работу
                            span ради денег
                    .container-mask
                        .section-title-mask-container
                            span ещё известнее
                            span
                            span
                            span
                .section-desc
                    .section-desc-container
                        .container-mask
                            .section-desc-mask-container
                                span Более 1 000 000 000 прослушиваний
                                span - Комплексное продвижение артистов и творчества
                                span - Ставим чёткие дедлайны
                                span А ради нашей основной цели: дать вашему творчеству
                        .container-mask
                            .section-desc-mask-container
                                span на музыкальных релизах,
                                span - SMM-менеджмент, таргетированная реклама
                                span - Заранее даём прогноз по результату
                                span возможность быть услышанным.
                        .container-mask
                            .section-desc-mask-container
                                span которые мы продвигали
                                span - Дизайн, креатив, digital-задачи "под ключ"
                                span - Не завышаем ваши ожидания
                                span
                a(href="/cases.html").default-btn.main-page-btn
                    span Смотреть кейсы
                    img(src="/images/btn-arrow.svg" class="svg" alt="arrow")
                .progress-bar
                    .progress
            #fullpage
                .fp-section
                    .fp-section-images
                        img(src="/images/main-page/tg_image_1541778717.jpeg" alt="Rakhim")
                        img(src="/images/main-page/tg_image_2214767916.jpeg" alt="Rakhim")
                        img(src="/images/main-page/tg_image_4188129607.jpeg" alt="Elman")
                        img(src="/images/main-page/image_351106162.jpeg" alt="image")
                .fp-section
                    .fp-section-images
                        img(src="/images/main-page/tg_image_1614531311.jpeg" alt="image")
                        img(src="/images/main-page/tg_image_1061450313.jpeg" alt="image")
                        img(src="/images/main-page/tg_image_1996182553.jpeg" alt="image")
                .fp-section
                    .fp-section-images
                        img(src="/images/main-page/tg_image_3069432104.jpeg" alt="image")
                        img(src="/images/main-page/tg_image_3012834856.jpeg" alt="image")
                        img(src="/images/main-page/tg_image_2308900518.jpeg" alt="image")
                        img(src="/images/main-page/tg_image_1299626396.jpeg" alt="image")
                .fp-section
                    .fp-section-images
                        img(src="/images/main-page/tg_image_1045360510.jpeg" alt="image")
                        img(src="/images/main-page/tg_image_1670227461.jpeg" alt="image")
                        img(src="/images/main-page/image_2021-09-27_15-41-15.png" alt="nightvisions")