extends includes/layout

append main
    main#malfa-page
        a(href="/").header-logo
            img(src="/images/logo.svg" alt="logo")
        section.main-section
                .container
                    .section-content
                        .default-title
                            span(data-aos="bottomMask") Музыкальный лейбл MALFA
                        .default-subtitle(data-aos="bottomText" data-aos-delay="100") Комплексное продвижение
                        .default-desc(data-aos="bottomText" data-aos-delay="200") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    .section-img(data-aos="clipRight" data-aos-delay="300")
                        img(src="/images/cases/Malfa.jpg" alt="Malfa")
                    .section-statistic
                        .default-subtitle(data-aos="bottomText" data-aos-delay="400") За год продвигали
                        .statistic-container
                            .statistic(data-aos="bottomText" data-aos-delay="500")
                                span 35
                                span Синглов
                            .statistic(data-aos="bottomText" data-aos-delay="600")
                                span 19
                                span Клипов
                            .statistic(data-aos="bottomText" data-aos-delay="700")
                                span 18
                                span Артистов
                            .statistic(data-aos="bottomText" data-aos-delay="800")
                                span 2
                                span Альбома
                            .statistic(data-aos="bottomText" data-aos-delay="900")
                                span 1
                                span Кота
                            .statistic(data-aos="bottomText" data-aos-delay="1000")
                                span 130 000 000
                                span Просмотров на Ютубе
        section.promotion-section
            .section-title
                span(data-aos="bottomMask") Продвигали артистов
            .promotion-marquee
                .promotion-marquee-wrapper
                    .promotion
                        img(src="/images/clients/Fadeev.png" alt="Максим Фадеев" data-aos="clipRight")
                        span(data-aos="bottomText") Максим Фадеев
                    .promotion
                        img(src="/images/clients/Molly.png" alt="Molly" data-aos="clipRight" data-aos-delay="100")
                        span(data-aos="bottomText" data-aos-delay="100") Molly
                    .promotion
                        img(src="/images/clients/Serebro.png" alt="Serebro" data-aos="clipRight" data-aos-delay="200")
                        span(data-aos="bottomText" data-aos-delay="200") Serebro
                    .promotion
                        img(src="/images/clients/Maiami.png" alt="Олег Майами" data-aos="clipRight" data-aos-delay="300")
                        span(data-aos="bottomText" data-aos-delay="300") Олег Майами
                    .promotion
                        img(src="/images/clients/Nargiz.png" alt="Наргиз" data-aos="clipRight" data-aos-delay="400")
                        span(data-aos="bottomText" data-aos-delay="400") Наргиз
                    .promotion
                        img(src="/images/clients/Fadeev.png" alt="Максим Фадеев")
                        span Максим Фадеев
                    .promotion
                        img(src="/images/clients/Molly.png" alt="Molly")
                        span Molly
                    .promotion
                        img(src="/images/clients/Serebro.png" alt="Serebro")
                        span Serebro
                    .promotion
                        img(src="/images/clients/Maiami.png" alt="Олег Майами")
                        span Олег Майами
                    .promotion
                        img(src="/images/clients/Nargiz.png" alt="Наргиз")
                        span Наргиз

        section.releases-section
            .section-title
                span(data-aos="bottomMask") А также их релизы
            .container
                .releases(data-aos="bottomText")
                    .release
                        img(src="/images/releases/6yiS-cP4y20.png" alt="release")
                    .release
                        img(src="/images/releases/9BH27Kz_QJ0.png" alt="release")
                    .release
                        img(src="/images/releases/1111.png" alt="release")
                    .release
                        img(src="/images/releases/alcofriday.png" alt="release")
                    .release
                        img(src="/images/releases/BEgvD7bJVQY.png" alt="release")
                    .release
                        img(src="/images/releases/FIAN8GOX8EM.png" alt="release")
                    .release
                        img(src="/images/releases/fika_begi.png" alt="release")
                    .release
                        img(src="/images/releases/i0oShpXheu4.png" alt="release")
                    .release
                        img(src="/images/releases/isayah_city.png" alt="release")
                    .release
                        img(src="/images/releases/ISAYAH_EP.png" alt="release")
                    .release
                        img(src="/images/releases/iSAYAH_VML.png" alt="release")
                    .release
                        img(src="/images/releases/JGGucLysTng.png" alt="release")
                    .release
                        img(src="/images/releases/kk_sladko.png" alt="release")
                    .release
                        img(src="/images/releases/Ko8ks4KQE2c.png" alt="release")
                    .release
                        img(src="/images/releases/MF_SLYS.png" alt="release")
                    .release
                        img(src="/images/releases/MOLLY_ALBUM.png" alt="release")
                    .release
                        img(src="/images/releases/MOLLY_OS.png" alt="release")
                    .release
                        img(src="/images/releases/N98r6MKYLi0.png" alt="release")
                    .release
                        img(src="/images/releases/Na9-s_wuHao.png" alt="release")
                    .release
                        img(src="/images/releases/oLUGtO--DXw.png" alt="release")
                    .release
                        img(src="/images/releases/RhmlpWoJSSc.png" alt="release")
                    .release
                        img(src="/images/releases/RPcs2WDBlfQ.png" alt="release")
                    .release
                        img(src="/images/releases/SEREBROXBREAD.png" alt="release")
                    .release
                        img(src="/images/releases/space_isayah.png" alt="release")
                    .release
                        img(src="/images/releases/TPzNz5afBJI.png" alt="release")
                    .release
                        img(src="/images/releases/V52IokFNPB0.png" alt="release")
                    .release
                        img(src="/images/releases/vgpXecezrM4.png" alt="release")
                    .release
                        img(src="/images/releases/viW0WDimZnY.png" alt="release")
                    .release
                        img(src="/images/releases/wSBkRzow7yE.png" alt="release")
                    .release
                        img(src="/images/releases/xvNFMMX9prk.png" alt="release")
                    .release
                        img(src="/images/releases/xwnvNMR2cFo.png" alt="release")
                    .release
                        img(src="/images/releases/YVNOf-wG-7w.png" alt="release")
        section.clips-section
            .section-title
                span(data-aos="bottomMask") И даже клипы
            .container
                .clips(data-aos="bottomText")
                    .clip
                        img(src="/images/clips/tg_image_435394262.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_508824722.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_700678067.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_718341649.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_812783047.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_920988363.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_960118564.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_1130853431.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_1540066782.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_1820602007.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_2020660001.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_2066222786.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_2365682981.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_2508857012.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_2526328156.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_3460796457.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_3477513870.png" alt="clip")
                    .clip
                        img(src="/images/clips/tg_image_3831937761.png" alt="clip")
        section.promotion-statistic-section
            .section-title
                span(data-aos="bottomMask") Статистика продвижения соц. сетей лейбла
            .container
                .statistic-container
                    .statistic
                        span(data-aos="bottomText" data-aos-delay="100") Страница лейбла
                        img(src="/images/statistic/Статистика 1.png" alt="Первая статистика" data-aos="clipRight" data-aos-delay="200")
                    .statistic
                        span(data-aos="bottomText" data-aos-delay="300") Страница лейбла
                        img(src="/images/statistic/IMG_7032.png" alt="Вторая статистика" data-aos="clipRight" data-aos-delay="400")
                    .statistic
                        span(data-aos="bottomText" data-aos-delay="500") Страница лейбла
                        img(src="/images/statistic/3.png" alt="Третья статистика" data-aos="clipRight" data-aos-delay="600")
        section.developing-section
            .container
                .developing-content
                    .content-text
                        .section-title
                            span(data-aos="bottomMask" data-aos-delay="100") Создание официального сайта лейбла
                        .default-desc(data-aos="bottomText" data-aos-delay="200") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    img(src="/images/malfa/malfa1.png" alt="Создание сайта" data-aos="clipRight")
                .developing-content
                    .content-text
                        .section-title
                            span(data-aos="bottomMask") Разработка интернет-магазина с мерчом лейбла
                        .default-desc(data-aos="bottomText" data-aos-delay="100") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    img(src="/images/malfa/malfa2.png" alt="Разработка интернет-магазина" data-aos="clipRight" data-aos-delay="200")
        section.landing-development-section
            .container
                .section-content
                    .section-title
                        span(data-aos="bottomMask") Разработка 2 концертных лендингов
                    .default-desc(data-aos="bottomText" data-aos-delay="100") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    .section-content-images
                        img(src="/images/malfa/SEREBROsite1.png" alt="landing page 'Serebro'" data-aos="clipRight" data-aos-delay="200")
                        img(src="/images/malfa/isat 1.png" alt="landing page 'Isat'" data-aos="clipRight" data-aos-delay="300")
                .section-img
                    img(src="/images/malfa/isat 1.png" alt="landing page 'Isat'" data-aos="clipRight" data-aos-delay="300")
        section.serebro-section
            .container
                .section-img
                    img(src="/images/malfa/MacbookLongScrollMockup.png" alt="mockup" data-aos="clipRight")
                .section-content
                    .section-title
                        span(data-aos="bottomMask" data-aos-delay="100") SEREBRO CASTING
                    .default-subtitle(data-aos="bottomText" data-aos-delay="200") Проведение спец. проекта
                    .default-desc(data-aos="bottomText" data-aos-delay="300") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    .statistic
                        span(data-aos="bottomText" data-aos-delay="400") Визиты
                        img(src="/images/malfa/Статистика4.png" alt="visits" data-aos="clipRight" data-aos-delay="500")
                        img(src="/images/malfa/Статистика3.png" alt="new visits" data-aos="clipRight" data-aos-delay="600")
        section.cat-section
            .container
                .section-content
                    .content-text
                        .section-title
                            span(data-aos="bottomMask") Инстаграм-аккаунта кота живущего в лейбле
                        .default-subtitle(data-aos="bottomText" data-aos-delay="100") Креатив, создание контента
                        .default-desc(data-aos="bottomText" data-aos-delay="200") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    .slides
                        img(src="/images/malfa/IMG_6798.jpg" alt="Кот" data-aos="clipRight" data-aos-delay="300")
                        img(src="/images/malfa/IMG_6799.jpg" alt="Кот" data-aos="clipRight" data-aos-delay="400")
                        img(src="/images/malfa/IMG_6800.jpg" alt="Кот" data-aos="clipRight" data-aos-delay="500")
                        img(src="/images/malfa/IMG_6801.jpg" alt="Кот")
                        img(src="/images/malfa/IMG_6802.jpg" alt="Кот")
                        img(src="/images/malfa/IMG_6803.jpg" alt="Кот")
                        img(src="/images/malfa/IMG_6804.jpg" alt="Кот")
                        img(src="/images/malfa/IMG_6805.jpg" alt="Кот")
                        img(src="/images/malfa/IMG_6806.jpg" alt="Кот")
        include includes/consultationForm
        .next-case(data-aos="bottomText")
            a(href="/rakhim.html") Следующий кейс
