extends includes/layout

append main
    main#rakhim-page
        a(href="/").header-logo
            img(src="/images/logo.svg" alt="logo")
        section.main-section
            .container
                .section-content
                    .default-title
                        span(data-aos="bottomMask") Rakhim
                    .default-subtitle
                        span(data-aos="bottomText" data-aos-delay="100") Продвижение всех релизов в карьере артиста
                        span(data-aos="bottomText" data-aos-delay="200") Комплексное ведение и продвижение сообщества артиста с нуля
                    .default-desc(data-aos="bottomText" data-aos-delay="300") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                .section-img(data-aos="clipRight" data-aos-delay="400")
                    img(src="/images/rakhim/main-section.png" alt="Rakhim")
                .section-statistic
                    .default-subtitle(data-aos="bottomText" data-aos-delay="500") За год
                    .statistic-container
                        .statistic(data-aos="bottomText" data-aos-delay="600")
                            span 380 000
                            span Подписчиков привлечено <br> в группу ВК с нуля за год
                        .statistic(data-aos="bottomText" data-aos-delay="700")
                            span 13
                            span Треков
                        .statistic(data-aos="bottomText" data-aos-delay="800")
                            span 4
                            span Клипа
                        .statistic(data-aos="bottomText" data-aos-delay="900")
                            span 12
                            span Треков вошли <br> в топ-чарт
                        .statistic(data-aos="bottomText" data-aos-delay="1000")
                            span 3
                            span Трека вошли <br> в топ-10
                        .statistic(data-aos="bottomText" data-aos-delay="1100")
                            span 2
                            span Трека заняли 1 место <br> в чарте и стали хитами
        section.songs-section
            .container
                .section-title
                    span(data-aos="bottomMask") Треки
                .songs-slider
                    .songs-container
                        .song
                            img(src="/images/rakhim/fendi.png" alt="Fendi" data-aos="clipRight" data-aos-delay="100")
                            span(data-aos="bottomText" data-aos-delay="100") Fendi
                        .song
                            img(src="/images/rakhim/lambo.jpeg" alt="Синий Lamborghini"
                                data-aos="clipRight" data-aos-delay="200")
                            span(data-aos="bottomText" data-aos-delay="200") Синий Lamborghini
                        .song
                            img(src="/images/rakhim/who.png" alt="Кто тебе сказал?"
                                data-aos="clipRight" data-aos-delay="300")
                            span(data-aos="bottomText" data-aos-delay="300") Кто тебе сказал?
                        .song
                            img(src="/images/rakhim/fe.png" alt="Fendi feat. R3HAB, Smokepurpp"
                                data-aos="clipRight" data-aos-delay="400")
                            span(data-aos="bottomText" data-aos-delay="400") Fendi feat. R3HAB, Smokepurpp
        section.clips-section
            .container
                .section-title
                    span(data-aos="bottomMask") Клипы
                .clips
                    .clip
                        img(src="/images/rakhim/tg_image_435394262.jpg" alt="Fendi" data-aos="clipRight" data-aos-delay="100")
                        span(data-aos="bottomText"  data-aos-delay="100") Fendi
                    .clip
                        img(src="/images/rakhim/tg_image_435394263.jpg" alt="Rockstar feat. Qontrast"
                            data-aos="clipRight" data-aos-delay="200")
                        span(data-aos="bottomText" data-aos-delay="200") Rockstar feat. Qontrast
                    .clip
                        img(src="/images/rakhim/tg_image_435394264.jpg" alt="Девочка наивна"
                            data-aos="clipRight" data-aos-delay="300")
                        span(data-aos="bottomText" data-aos-delay="300") Девочка наивна
                    .clip
                        img(src="/images/rakhim/tg_image_435394265.jpg" alt="Beasty"
                            data-aos="clipRight" data-aos-delay="400")
                        span(data-aos="bottomText" data-aos-delay="400") Beasty
        section.community-section
            .container
                .section-img
                    img(src="/images/rakhim/laptop.png" alt="laptop" data-aos="clipRight")
                .section-content
                    .section-title
                        span(data-aos="bottomMask" data-aos-delay="100") Комплексное ведение сообщества ВК
                    .default-desc(data-aos="bottomText" data-aos-delay="200") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    .statistic
                        span(data-aos="bottomText" data-aos-delay="300") Подписчики
                        img(src="/images/rakhim/snapshot.jpg" alt="subscribers" data-aos="clipRight" data-aos-delay="400")
        section.fendi-section
            .container
                .section-content
                    .section-title
                        span(data-aos="bottomMask") Fendi
                    .default-desc(data-aos="bottomText" data-aos-delay="100") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    .statistic-container
                        .statistic(data-aos="bottomText" data-aos-delay="200")
                            span Топ-1
                            span В ТикТок СНГ за 2020 год
                        .statistic(data-aos="bottomText" data-aos-delay="300")
                            span Топ-30
                            span В ВК за 2020 год
                        .statistic(data-aos="bottomText" data-aos-delay="400")
                            span 5 000 000
                            span Видео снято в ТикТок
                        .statistic(data-aos="bottomText" data-aos-delay="500")
                            span 100 000 000
                            span Просмотров в YouTube на видео
                .section-img(data-aos="clipRight" data-aos-delay="600")
                    img(src="/images/rakhim/fendi.png" alt="Fendi")
        section.lambo-section
            .container
                .section-img(data-aos="clipRight")
                    img(src="/images/rakhim/lambo.jpeg" alt="Синий Lamborghini")
                .section-content
                    .section-title
                        span(data-aos="bottomMask" data-aos-delay="100") Синий Lamborghini
                    .default-desc(data-aos="bottomText" data-aos-delay="200") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач.
                    .statistic(data-aos="bottomText" data-aos-delay="300")
                        span 1 300 000
                        span Видео в ТикТок снято
        section.screenshots-section
            .container
                .section-title
                    span(data-aos="bottomMask") Скриншоты-подтверждение статистики
                .screenshots-wrapper
                    .screenshots
                        .screenshot(data-aos="clipRight" data-aos-delay="100")
                            img(src="/images/rakhim/Снимок экрана 2021-06-02 в 17.42.jpg" alt="screenshot")
                        .screenshot(data-aos="clipRight" data-aos-delay="200")
                            img(src="/images/rakhim/tg_image_2369618421.jpg" alt="screenshot")
                        .screenshot(data-aos="clipRight" data-aos-delay="300")
                            img(src="/images/rakhim/tg_image_2912863406.jpg" alt="screenshot")
                    .screenshots
                        .screenshot(data-aos="clipRight" data-aos-delay="200")
                            img(src="/images/rakhim/Снимок экрана 2021-06-02 в 17.44.jpg" alt="screenshot")
                        .screenshot(data-aos="clipRight" data-aos-delay="300")
                            img(src="/images/rakhim/tg_image_877745563.jpg" alt="screenshot")
                        .screenshot(data-aos="clipRight" data-aos-delay="400")
                            img(src="/images/rakhim/tg_image_1035057269.jpg" alt="screenshot")
                        .screenshot(data-aos="clipRight" data-aos-delay="500")
                            img(src="/images/rakhim/tg_image_1932200095.jpg" alt="screenshot")
                    .screenshots
                        .screenshot(data-aos="clipRight" data-aos-delay="300")
                            img(src="/images/rakhim/Снимок экрана 2021-06-02 в 17.46.jpg" alt="screenshot")
                        .screenshot(data-aos="clipRight" data-aos-delay="400")
                            img(src="/images/rakhim/IMG_7096.jpg" alt="screenshot")
                        .screenshot(data-aos="clipRight" data-aos-delay="500")
                            img(src="/images/rakhim/IMG_7095.jpg" alt="screenshot")
        .case-form
            include includes/consultationForm
        .next-case(data-aos="bottomText")
            a(href="/malfa.html") Следующий кейс