extends includes/layout

append main
    main#services-page
        .container
            .default-title
                span(data-aos="bottomMask") Услуги
            #services-page-slider.services
                .services-container
                    a(href="/service.html").service
                        img(src="/images/services/Комплексное продвижение релиза.jpg" alt="Комплексное продвижение релиза"
                            data-aos="clipRight" data-aos-delay="100")
                        .default-title(data-aos="bottomText" data-aos-delay="200") Комплексное продвижение релиза
                        .default-subtitle(data-aos="bottomText" data-aos-delay="300") от 25 000 рублей
                        .default-desc(data-aos="bottomText" data-aos-delay="400") Стратегия и продвижение любого музыкального релиза “под ключ”.
                    .service
                        img(src="/images/services/На продвижение артиста.jpeg" alt="продвижение артиста"
                            data-aos="clipRight" data-aos-delay="500")
                        .default-title(data-aos="bottomText" data-aos-delay="600") Комплексное продвижение артиста
                        .default-subtitle(data-aos="bottomText" data-aos-delay="700") от 50 000 рублей
                        .default-desc(data-aos="bottomText" data-aos-delay="800") Стратегия и постоянное продвижение артиста “под ключ”.
                    .service
                        img(src="/images/services/Таргетированная реклама.jpg" alt="Таргетированная реклама"
                            data-aos="clipRight" data-aos-delay="900")
                        .default-title(data-aos="bottomText" data-aos-delay="1000") Таргетированная реклама
                        .default-subtitle(data-aos="bottomText" data-aos-delay="1100") от 5 000 рублей
                        .default-desc(data-aos="bottomText" data-aos-delay="1200") Проведение рекламных кампаний на любых площадках: Instagram, ВКонтакте, TikTok, YouTube
                    .service
                        img(src="/images/services/SMM-ведение.jpg" alt="SMM-ведение")
                        .default-title SMM-ведение
                        .default-subtitle от 20 000 рублей
                        .default-desc Разработка концепции развития социальных сетей и систематическое пошаговое их ведение.
                    .service
                        img(src="/images/services/Статичный и motion-дизайн.jpg" alt="Статичный и motion-дизайн")
                        .default-title Статичный и motion-дизайн
                        .default-subtitle от 3 000 рублей
                        .default-desc Обложки треков, анимации и релизные паки
