extends includes/layout

append main
    main#service-page
        a(href="/").header-logo
            img(src="/images/logo.svg" alt="logo")
        section.main-section
            .container
                .section-content
                    .default-title
                        .default-title-container
                            span(data-aos="bottomMask") Комплексное
                        .default-title-container
                            span(data-aos="bottomMask") продвижение
                        .default-title-container
                            span(data-aos="bottomMask") релиза
                    .default-desc(data-aos="bottomText" data-aos-delay="100") Имеется спорная точка зрения, гласящая примерно следующее: тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов. Господа, повышение уровня гражданского сознания создаёт предпосылки для позиций, занимаемых участниками в отношении поставленных задач. <br><br> Реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть ограничены исключительно образом мышления.
                .section-img
                    img(src="/images/service/main-section.jpg" alt="section image"
                        data-aos="clipRight" data-aos-delay="200")
                .section-content.section-content2
                    .default-desc(data-aos="bottomText") В частности, существующая теория требует анализа новых принципов формирования материально-технической и кадровой базы. Предварительные выводы неутешительны: консультация с широким активом предопределяет высокую востребованность дальнейших направлений развития. Прежде всего, глубокий уровень погружения не даёт нам иного выбора, кроме определения своевременного выполнения сверхзадачи.
                    .default-desc(data-aos="bottomText" data-aos-delay="100") Каждый из нас понимает очевидную вещь: сплочённость команды профессионалов способствует повышению качества новых предложений. Господа, внедрение современных методик говорит о возможностях существующих финансовых и административных условий. В своём стремлении повысить качество жизни, они забывают, что современная методология разработки требует от нас анализа дальнейших направлений развития.
        section.getting-section
            .container
                .section-img
                    img(src="/images/service/get.jpg" alt="Что мы выдаём в итоге?" data-aos="clipRight")
                .section-content
                    .section-title
                        span(data-aos="bottomMask" data-aos-delay="100") Что мы выдаём в итоге?
                    .section-content-links
                        a(href="#" class="btn-wb" data-aos="bottomText" data-aos-delay="200")
                            span Презентация для артиста
                            img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
                        a(href="#" class="btn-wb" data-aos="bottomText" data-aos-delay="300")
                            span Пример маркетинговой компании
                            img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
                        a(href="#" class="btn-wb" data-aos="bottomText" data-aos-delay="400")
                            span Пример отчёта по проделанной работе
                            img(src="/images/btn-arrow.svg" alt="arrow" class="svg")
        section.cases-section
            .container
                .section-title
                    span(data-aos="bottomMask") Кейсы
                .cases-container
                    a.case(href="/malfa.html")
                        img(src="/images/cases/Malfa.jpg" alt="Malfa"
                            data-aos="clipRight" data-aos-delay="100")
                        .default-subtitle(data-aos="bottomText" data-aos-delay="200") Комплексное продвижение
                        .default-title(data-aos="bottomText" data-aos-delay="300") Музыкальный лейбл MALFA
                        .default-desc(data-aos="bottomText" data-aos-delay="400") Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                    a.case(href="/rakhim.html")
                        img(src="/images/cases/Rakhim.jpg" alt="Rakhim"
                            data-aos="clipRight" data-aos-delay="100")
                        .default-subtitle(data-aos="bottomText" data-aos-delay="200") Продвижение артиста
                        .default-title(data-aos="bottomText" data-aos-delay="300") Rakhim
                        .default-desc(data-aos="bottomText" data-aos-delay="400") Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
                    a.case(href="#")
                        img(src="/images/cases/Malfa.jpg" alt="Malfa"
                            data-aos="clipRight" data-aos-delay="100")
                        .default-subtitle(data-aos="bottomText" data-aos-delay="200") Комплексное продвижение
                        .default-title(data-aos="bottomText" data-aos-delay="300") Музыкальный лейбл MALFA
                        .default-desc(data-aos="bottomText" data-aos-delay="400") Лишь непосредственные участники технического прогресса ограничены исключительно образом мышления. Но начало повседневной работы по формированию позиции
        include includes/consultationForm
